<table id="services-table" class="table table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th>Service</th>
    <th>Schedule</th>
    <th>Last start at</th>
    <th class="no-sort no-search">Arguments</th>
    <th class="no-sort no-search">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @services.each do |service_code, service| %>
    <% serv = service[:service] ? Service.find_by(key: service[:service]) : nil %>
    <tr>
      <td><%= service[:name] %></td>
      <td><%= service[:schedule] %></td>
      <% prev = serv&.last_run_at %>
      <td><%= prev ? "#{time_ago_in_words prev} ago" : "" %></td>
      <td>
        <%= form_tag(service_path(service_code), method: 'put') do %>
          <% (service[:args] || []).each do |arg| %>
            <% if arg == :stock_id %>
              <%= select_tag(:stock_id, options_for_select([[]] + @stocks.map { |p| [ "#{p.symbol} - #{p.company_name}", p.id ] }), class: 'selectpicker', data: {live_search: true}) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Start', "#", class: 'btn btn-primary', onclick: "$(this).parents('tr').find('form').submit(); return false;" %>
        <%= link_to 'Log', "/services/#{service_code}/log", class: 'btn btn-outline-dark' if serv&.log.present? %>
        <%= link_to 'Error', "/services/#{service_code}/error", class: 'btn btn-outline-dark' if serv&.error.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  document.addEventListener("turbolinks:load", () => {
    dataTable("#services-table", {order: [0, 'asc']});
  })
</script>
