<div class="datatable">
  <h2 class="text-2xl uppercase mb-6">Services</h2>

<% if @tag %>
  <span class="float-left text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-700 rounded-full mb-1" style="margin-top: 6px;"><%= @tag %>
    <a href="/services" class="pl-1 text-red-400">×</a>
  </span>
<% end %>

  <div class="datatable-container">
    <div class="datatable-viewport">
      <table>
  <thead>
  <tr>
    <th>Service</th>
    <th>Schedule</th>
    <th>Status</th>
    <th>Last Run</th>
    <th class="no-sort no-search">Arguments</th>
    <th class="no-sort no-search">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <% service = job.service %>
    <tr data-controller="service"
        data-service-output-container-value="output-container"
        data-service-output-progress-value="output-progress"
        data-service-output-message-value="output-message">
      <td>
        <%= job.name %>
        <% job.tags.sort.each do |tag| %>
          <%= link_to(tag, services_path(tag: tag), class: 'text-xs w-auto font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-700 rounded-full mb-1') %>
        <% end %>
      </td>
      <td><%= job.schedule %></td>
      <% locked_at = service&.locked_at %>
      <td><%= service ? (locked_at ? "Started #{time_ago_in_words locked_at} ago" : "Paused") : 'Paused' %></td>
      <% last_run_at = service&.last_run_at %>
      <td><%= (last_run_at ? "#{time_ago_in_words last_run_at} ago" : "never").capitalize %></td>
      <td>
        <%= form_tag(run_service_path(job.lookup_code), multipart: true, id: "form_#{job.lookup_code}") do %>
          <% Hash(job.arguments).each do |name, input| %>
            <% Hash(input).each do |type, args| %>
              <%=
                case type
                when :select
                  select_tag(name, options_for_select(args[:values], args[:selected]), class: 'selectpicker', data: {live_search: true, container: 'body'})
                when :text
                  text_field_tag(:url, nil, { autocomplete: :off, placeholder: args[:placeholder] })
                when :file
                  file_field_tag(:file)
                else
                  # skip
                end
              %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= button_tag class: 'btn btn-sm btn-secondary text-gray-900', data: { action: 'click->service#start' }, form: "form_#{job.lookup_code}" do %>
          Start <%= inline_svg('svg/caret-right', size: '14*18', class: 'inline-block mb-0.5') %>
        <% end %>

        <%= link_to log_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18', class: 'inline-block') %> Log
        <% end if service&.log.present? %>

        <%= link_to error_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18', class: 'inline-block') %> Error
        <% end if service&.error.present? %>

        <%= link_to file_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18', class: 'inline-block') %> File
        <% end if service&.file_content.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>

<%= render partial: 'shared/service_runner', locals: { can_stop: true } %>
