<div class="w-full mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="uppercase mb-3 font-normal">Services</h2>

<%= render partial: 'shared/column', locals: {columns: @columns} %>

<% if @tag %>
  <span class="float-left badge badge-pill badge-primary" style="margin-top: 6px;"><%= @tag %>
    <a href="/services" class="badge badge-pill badge-dark" style="color: #fff;">×</a>
  </span>
<% end %>

<table id="services-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th>Service</th>
    <th>Schedule</th>
    <th>Status</th>
    <th>Last Run</th>
    <th class="no-sort no-search">Arguments</th>
    <th class="no-sort no-search">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <% service = job.service %>
    <tr>
      <td>
        <%= job.name %>
        <% job.tags.sort.each do |tag| %>
          <%= link_to(tag, services_path(tag: tag), class: 'badge badge-pill badge-primary') %>
        <% end %>
      </td>
      <td><%= job.schedule %></td>
      <% locked_at = service&.locked_at %>
      <td><%= service ? (locked_at ? "Started #{time_ago_in_words locked_at} ago" : "Paused") : 'Paused' %></td>
      <% last_run_at = service&.last_run_at %>
      <td><%= (last_run_at ? "#{time_ago_in_words last_run_at} ago" : "never").capitalize %></td>
      <td>
        <%= form_tag(run_service_path(job.lookup_code), multipart: true) do %>
          <% Hash(job.arguments).each do |name, input| %>
            <% Hash(input).each do |type, args| %>
              <%=
                case type
                when :select
                  select_tag(name, options_for_select(args[:values], args[:selected]), class: 'selectpicker', data: {live_search: true, container: 'body'})
                when :text
                  text_field_tag(:url, nil, { autocomplete: :off, placeholder: args[:placeholder] })
                when :file
                  file_field_tag(:file)
                else
                  # skip
                end
              %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Start', "#", class: 'btn btn-sm btn-primary', onclick: "runService($(this).parents('tr').find('form')); return false;" %>
        <%= link_to 'Log', log_service_path(job.lookup_code), class: 'btn btn-sm btn-outline-dark', data: { turbo: false } if service&.log.present? %>
        <%= link_to 'Error', error_service_path(job.lookup_code), class: 'btn btn-sm btn-outline-dark', data: { turbo: false } if service&.error.present? %>
        <%= link_to 'File', file_service_path(job.lookup_code), class: 'btn btn-sm btn-outline-dark', data: { turbo: false } if service&.file_content.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'shared/service_runner' %>
<script>
  document.addEventListener("turbo:load", () => {
    dataTable("#services-table", {order: [0, 'asc']}, <%= default_columns %>, '<%= @tag %>');
  })
</script>

</div>
