<%= render partial: 'shared/column', locals: {columns: @columns} %>

<% if @tag %>
  <p>
    <span class="badge badge-pill badge-primary"><%= @tag %>
      <a href="/services" class="badge badge-pill badge-dark" style="color: #fff;"><i class="fas fa-times"></i></a>
    </span>
  </p>
<% end %>

<table id="services-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th>Service</th>
    <th>Schedule</th>
    <th>Status</th>
    <th>Last Run</th>
    <th class="no-sort no-search">Arguments</th>
    <th class="no-sort no-search">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <% service = job.service %>
    <tr>
      <td>
        <%= job.name %>
        <% job.tags.sort.each do |tag| %>
          <%= link_to(tag, services_path(tag: tag), class: 'badge badge-pill badge-primary') %>
        <% end %>
      </td>
      <td><%= job.schedule %></td>
      <% locked_at = service&.locked_at %>
      <td><%= service ? (locked_at ? "Started #{time_ago_in_words locked_at} ago" : "Paused") : 'Paused' %></td>
      <% last_run_at = service&.last_run_at %>
      <td><%= (last_run_at ? "#{time_ago_in_words last_run_at} ago" : "never").capitalize %></td>
      <td>
        <%= form_tag(run_service_path(job), multipart: true) do %>
          <% (job.arguments || []).each do |arg| %>
            <% if arg == :stock_id %>
              <%= select_tag(:stock_id, options_for_select([[]] + @stocks.map { |p| [ "#{p.symbol} - #{p.company_name}", p.id ] }),
                             class: 'selectpicker', data: {live_search: true, container: 'body'}) %>
            <% elsif arg == :url %>
              <%= text_field_tag(:url, nil, { autocomplete: :off, placeholder: 'URL' }) %>
            <% elsif arg == :file %>
              <%= file_field_tag(:file) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Start', "#", class: 'btn btn-sm btn-primary', onclick: "runService($(this).parents('tr').find('form')); return false;" %>
        <%= link_to 'Log', service_log_path(job), class: 'btn btn-sm btn-outline-dark', data: { turbolinks: false } if service&.log.present? %>
        <%= link_to 'Error', service_error_path(job), class: 'btn btn-sm btn-outline-dark', data: { turbolinks: false } if service&.error.present? %>
        <%= link_to 'File', service_file_path(job), class: 'btn btn-sm btn-outline-dark', data: { turbolinks: false } if service&.file_content.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'shared/service_runner' %>
<script>
  document.addEventListener("turbolinks:load", () => {
    dataTable("#services-table", {order: [0, 'asc']}, <%= default_columns %>, '<%= @tag %>');
  })
</script>
