<%= render partial: 'shared/column', locals: {columns: @columns} %>

<table id="services-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th>Service</th>
    <th>Schedule</th>
    <th>Status</th>
    <th>Last Run</th>
    <th class="no-sort no-search">Arguments</th>
    <th class="no-sort no-search">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @service_runners.each do |service_runner| %>
    <% serv = service_runner.service %>
    <tr>
      <td><%= service_runner.name %></td>
      <td><%= service_runner.schedule_code %></td>
      <% locked_at = serv&.locked_at %>
      <td><%= serv ? (locked_at ? "Started #{time_ago_in_words locked_at} ago" : "Paused") : '' %></td>
      <% last_run_at = serv&.last_run_at %>
      <td><%= last_run_at ? "#{time_ago_in_words last_run_at} ago" : "" %></td>
      <td>
        <%= form_tag(run_service_path(service_runner)) do %>
          <% (service_runner.arguments || []).each do |arg| %>
            <% if arg == :stock_id %>
              <%= select_tag(:stock_id, options_for_select([[]] + @stocks.map { |p| [ "#{p.symbol} - #{p.company_name}", p.id ] }),
                             class: 'selectpicker', data: {live_search: true, container: 'body'}) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Start', "#", class: 'btn btn-sm btn-primary', onclick: "runService(this); return false;" %>
        <%= link_to 'Log', service_log_path(service_runner), class: 'btn btn-sm btn-outline-dark', data: { turbolinks: false } if serv&.log.present? %>
        <%= link_to 'Error', service_error_path(service_runner), class: 'btn btn-sm btn-outline-dark', data: { turbolinks: false } if serv&.error.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'shared/service_runner' %>

<script>
  document.addEventListener("turbolinks:load", () => {
    dataTable("#services-table", {order: [0, 'asc']}, <%= default_columns %>);
  })
</script>
