<div class="datatable">
  <%= link_to sidekiq_url, class: 'text-blue-500 no-underline float-right', target: '_blank' do %>
    <%= inline_svg('svg/external-link.svg', size: '24*24') %> Sidekiq
  <% end %>
  <h2 class="text-2xl uppercase mb-6"><%= render partial: 'header' %></h2>

  <div class="datatable-container">
    <div class="datatable-viewport">
      <table>
  <thead>
  <tr>
    <th><%= t('services.columns.service') %></th>
    <th><%= t('services.columns.schedule') %></th>
    <th><%= t('services.columns.status') %></th>
    <th><%= t('services.columns.last_run') %></th>
    <th><%= t('services.columns.arguments') %></th>
    <th><%= t('services.columns.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <% service = job.service %>
    <tr data-controller="service"
        data-service-output-container-value="output-container"
        data-service-output-progress-value="output-progress"
        data-service-output-message-value="output-message">
      <td>
        <%= job.name %>
        <% job.tags.sort.each do |tag| %>
          <%= link_to(tag, services_path(tag: tag), class: 'tag tag-blue mb-0') %>
        <% end %>
      </td>
      <td><%= job.schedule || '-' %></td>
      <td><%= service&.locked_at ? "Started #{time_ago_in_words service&.locked_at} ago" : '-' %></td>
      <td><%= service&.last_run_at ? "#{time_ago_in_words service&.last_run_at} ago".capitalize : '-' %></td>
      <td>
        <%= form_tag(run_service_path(job.lookup_code), multipart: true, id: "form_#{job.lookup_code}") do %>
          <% Hash(job.arguments).each do |name, input| %>
            <% Hash(input).each do |type, args| %>
              <%=
                case type
                when :select
                  select_tag(name, options_for_select(args[:values], args[:selected]), class: 'selectpicker', data: {live_search: true, container: 'body'})
                when :text
                  text_field_tag(:url, nil, { autocomplete: :off, placeholder: args[:placeholder] })
                when :file
                  file_field_tag(:file)
                else
                  # skip
                end
              %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= button_tag class: 'btn btn-sm btn-primary', data: { controller: 'element', action: 'click->service#start click->element#scrollTo', element_scroll_target: 'output-container' }, form: "form_#{job.lookup_code}" do %>
          Start <%= inline_svg('svg/caret-right', size: '14*18', class: 'mb-0.5') %>
        <% end %>

        <%= link_to log_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18') %> Log
        <% end if service&.log.present? %>

        <%= link_to error_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18') %> Error
        <% end if service&.error.present? %>

        <%= link_to file_service_path(job.lookup_code), class: 'btn btn-sm btn-secondary-outline', data: { turbo: false } do %>
          <%= inline_svg('svg/download', size: '18*18') %> File
        <% end if service&.file_content.present? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>

<%= render partial: 'shared/service_runner', locals: { can_stop: true } %>
