<%= form_with scope: :position, url: position_path(@position), method: :put, local: true, html: {class: 'my-form', style: 'margin-bottom: 20px;'} do |form| %>
  <% if @position.errors.any? %>
    <div class="form-group">
      <% @position.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :shares %>
    <% if @position.errors[:shares].empty? %>
      <%= form.text_field :shares, class: 'form-control', value: number_with_precision(@position.shares, delimiter: ',', strip_insignificant_zeros: true), autocomplete: :off %>
    <% else %>
      <%= form.text_field :shares, class: 'form-control', autocomplete: :off %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :average_price %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <% if @position.errors[:average_price].empty? %>
        <%= form.text_field :average_price, class: 'form-control', value: number_to_currency(@position.average_price, unit: ''), autocomplete: :off %>
      <% else %>
        <%= form.text_field :average_price, class: 'form-control', autocomplete: :off %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <div class="input-group mb-3">
      <%= form.text_area :note, class: 'form-control' %>
    </div>
  </div>

  <div class="my-button-group">
    <%= link_to 'Cancel', '#', class: 'btn btn-outline-dark', onclick: '$("#my_position_readonly").show(); $("#my_position_writable").hide(); return false;', style: 'margin-left: 0;' %>
    <%= form.submit 'Save', class: 'btn btn-primary', onclick: 'ajax_submit_and_reload($(".my-form"), $("#my-position-div"));' %>
  </div>
<% end %>

<script>
  function ajax_submit_and_reload(form, form_container) {
      form.submit(function(e) {
          e.preventDefault();

          const form = $(this);
          const url = form.attr('action');

          $.ajax({
              type: form.attr('method'),
              url: url,
              data: form.serialize(),
              success: function(data) {
                  $(form_container).html(data);
              },
              error: function(data) {
                  $(form_container).html(data.responseText);
              }
          });
      });
  }
</script>
