<div class="inline-flex rounded-md shadow-sm" role="group">
  <%= link_to(positions_table_index_path, class: class_names('rounded-l-lg py-2 px-4 text-sm font-medium text-gray-900 bg-white border border-gray-400 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white whitespace-nowrap', 'bg-gray-200' => selected == 'table')) do %>
    <%= inline_svg('svg/table-large', size: '22*22') %>
  <% end %>
  <%= link_to(positions_chart_index_path, class: class_names('py-2 px-4 text-sm font-medium text-gray-900 bg-white border-t border-b border-r border-gray-400 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white no-js:hidden', 'bg-gray-200' => selected == 'chart')) do %>
    <%= inline_svg('svg/pie-chart', size: '22*22') %>
  <% end %>
  <%= link_to(positions_excel_index_path, class: 'rounded-r-lg py-2 px-4 text-sm font-medium text-gray-900 bg-white border border-l-0 border-gray-400 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white') do %>
    <%= inline_svg('svg/file-excel', size: '22*22') %>
  <% end %>
</div>
