<% if selected == 'table' %>
  <div><%= render(partial: 'positions/table/update_button') %></div>
<% end %>
<div class="segmented-button" role="group">
  <%= link_to(positions_table_index_path, class: class_names('whitespace-nowrap', 'segmented-button-selected' => selected == 'table')) do %>
    <%= inline_svg('svg/table-large', size: '22*22') %>
  <% end %>
  <%= link_to(positions_chart_index_path, class: class_names('no-js:hidden', 'segmented-button-selected' => selected == 'chart')) do %>
    <%= inline_svg('svg/pie-chart', size: '22*22') %>
  <% end %>
  <%= link_to(positions_excel_index_path, class: '', data: { turbo: true }) do %>
    <%= inline_svg('svg/file-excel', size: '22*22') %>
  <% end %>
</div>
