<% if @position.persisted? %>
<h3><%= t('stocks.sections.position') %></h3>

<div>
  <table class="section-table mb-2">
    <tbody>
    <% if @position.shares %>
      <tr>
        <td>
          <%= t('positions.attributes.shares') %>:
          <strong><%= number_with_precision(@position.shares, delimiter: ',', strip_insignificant_zeros: true) %></strong>
        </td>
      </tr>
      <% if @position.average_price %>
        <tr>
          <td>
            <%= t('positions.attributes.average_price') %>:
            <strong><%= number_to_currency(@position.average_price) %></strong>
          </td>
        </tr>
      <% end %>
      <% if @position.gain_loss %>
        <tr>
          <td>
            <%= t('positions.attributes.total_cost') %>:
            <strong><%= number_to_currency(@position.total_cost) %></strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= t('positions.attributes.market_value') %>:
            <strong><%= number_to_currency(@position.market_value) %></strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= t('positions.attributes.total_return') %>:
            <strong class="float-right <%= delta_class(@position.gain_loss) %>"><%= delta_number(number_to_currency(@position.gain_loss)) %></strong>
          </td>
        </tr>
        <tr>
          <td>
            <%= t('positions.attributes.total_return_pct') %>:
            <strong class="float-right <%= delta_class(@position.gain_loss_pct) %>"><%= delta_number(number_to_percentage(@position.gain_loss_pct, precision: 2)) %></strong>
          </td>
        </tr>
      <% end %>
      <% if @position.est_annual_income %>
        <tr>
          <td>
            <%= t('positions.attributes.annual_dividend') %>:
            <strong><%= number_to_currency(@position.est_annual_income) %></strong>
          </td>
        </tr>
      <% end %>
      <% if @position.shares && @position.stock.next_div_ex_date && @position.stock.next_div_ex_date >= Date.today %>

        <%
          next_div_amount = @position.stock.next_div_amount
          estimate = false
          unless next_div_amount.positive?
            value = ::Dividend.new.estimate(XStocks::Stock.new(@position.stock))&.first&.dig(:amount)
            if value.positive?
              next_div_amount = value
              estimate = true
            end
          end
        %>
        <tr>
          <td>
            <%= estimate ? t('positions.attributes.est_next_dividend') : t('positions.attributes.next_dividend') %>:
            <strong><%= number_to_currency(@position.shares * next_div_amount) %></strong>
          </td>
        </tr>
      <% end %>
      <% if @position.market_value %>
        <tr>
          <td>
            <%= t('positions.attributes.portfolio_diversity') %>:
            <strong><%= number_to_percentage(@position.market_value / XStocks::Position.new.market_value(current_user) * 100, precision: 2) rescue nil %></strong>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% if @position.shares && @position.stop_loss %>
    <h3><%= t('positions.attributes.stop_loss') %></h3>
    <table class="section-table mb-2">
      <tbody>
      <tr>
        <td>
          <%= t('positions.attributes.stop_price') %>:
          <strong><%= number_to_currency(@position.stop_loss) %></strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('positions.attributes.estimated_credit') %>:
          <strong><%= number_to_currency(@position.stop_loss_value) %></strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('positions.attributes.estimated_return') %>:
          <strong class="float-right <%= delta_class(@position.stop_loss_gain_loss) %>"><%= delta_number(number_to_currency(@position.stop_loss_gain_loss)) %></strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('positions.attributes.estimated_return_pct') %>:
          <strong class="float-right <%= delta_class(@position.stop_loss_gain_loss_pct) %>"><%= delta_number(number_to_percentage(@position.stop_loss_gain_loss_pct, precision: 2)) %></strong>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <% if @position.note.present? %>
    <div class="alert alert-warning">
      <%= inline_svg('svg/comment-text-outline', size: '24*24', class: 'float-right') %>
      <%= multiline_text_to_html(@position.note) %>
    </div>
  <% end %>

  <%= link_to edit_position_path(@position.stock.symbol), class: 'btn btn-icon btn-secondary-outline' do %>
    <%= inline_svg('svg/square-edit-outline', size: '24*24') %>
  <% end %>
</div>
<% else %>
  <%= link_to edit_position_path(@position.stock.symbol) do %>
    <span class="rounded-full bg-blue-500 text-white inline-block shadow-sm p-1 block-inline float-left mr-2">
      <%= inline_svg('svg/plus', size: '24*24') %>
    </span>
    <h4 class="text-2xl uppercase mb-0 block-inline"><%= t('stocks.sections.position') %></h4>
  <% end %>
<% end %>
