<div class="w-full mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <%= render partial: 'shared/format', locals: {table: "#positions-table-container", chart: "#positions-charts-container"} %>
  <h2 class="text-2xl uppercase mb-6">My Positions</h2>

<div id="positions-table-container">
  <%= render partial: 'shared/column', locals: {columns: @columns} %>
<table id="positions-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-center border-right">Symbol</th>
      <% @columns.each do |column| %>
        <th class="<%= 'no-search' unless column[:searchable] %> text-<%= column[:align] || 'right' %> text-nowrap"><%= column[:label] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot class="thead-light">
    <tr>
      <th class="text-right border-right">Total</th>
      <th colspan="5"></th>
      <th class="text-right"><%= number_to_currency(@summary[:total_cost]) %></th>
      <th class="text-right"><%= number_to_currency(@summary[:market_value]) %></th>
      <th class="text-right <%= delta_class(@summary[:today_return]) %>"><%= delta_number(number_to_currency(@summary[:today_return])) %></th>
      <th class="text-right <%= delta_class(@summary[:today_return_pct]) %>"><%= delta_number(number_to_percentage(@summary[:today_return_pct], precision: 2)) %></th>
      <th class="text-right <%= delta_class(@summary[:total_return]) %>"><%= delta_number(number_to_currency(@summary[:total_return])) %></th>
      <th class="text-right <%= delta_class(@summary[:total_return_pct]) %>"><%= delta_number(number_to_percentage(@summary[:total_return_pct], precision: 2)) %></th>
      <th class="text-right"><%= number_to_currency(@summary[:next_div]) %></th>
      <th class="text-right"><%= number_to_currency(@summary[:est_annual_div]) %></th>
      <th class="text-right"><%= number_to_percentage(100, precision: 2) %></th>
      <th></th>
      <th class="text-right"><%= number_to_currency(@summary[:stop_loss_value]) %></th>
      <th class="text-right <%= delta_class(@summary[:stop_loss_gain_loss]) %>"><%= delta_number(number_to_currency(@summary[:stop_loss_gain_loss])) %></th>
      <th class="text-right <%= delta_class(@summary[:stop_loss_gain_loss_pct]) %>"><%= delta_number(number_to_percentage(@summary[:stop_loss_gain_loss_pct], precision: 2)) %></th>
      <th colspan="10"></th>
      <th class="text-right"><%= number_to_percentage(@summary[:yield_on_value], precision: 2) %></th>
      <th colspan="5"></th>
      <th class="text-center">
        <% if @summary[:dividend_rating] %>
          <span class="badge badge-dark <%= meta_score_class(@summary[:dividend_rating] * 20) %>">
            <%= (@summary[:dividend_rating] * 20).to_i %>
          </span>
        <% end %>
      </th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>
</div>

<%= render partial: 'charts' %>

<% content_for :head do %>
<script>
  window.future_ex_date = new Date('<%= XStocks::Stock::Dividends.future_ex_date %>T00:00:00');
  document.addEventListener('turbo:load', () => {
    const data = <%= @data.to_json.html_safe %>;
    const formats = [
      // Stock
      Formats.symbol,         // Symbol
      Formats.text,           // Company
      Formats.flag,           // Country
      // Position
      Formats.number,         // Shares
      Formats.currency,       // Average Price
      Formats.currency,       // Market Price
      Formats.currency,       // Total Cost
      Formats.currency,       // Market Value
      Formats.currencyDelta,  // Today's Return
      Formats.percentDelta2,  // Today's Return %
      Formats.currencyDelta,  // Total Return
      Formats.percentDelta2,  // Total Return %
      Formats.currency,       // Next Div.
      Formats.currency,       // Annual Div.
      Formats.percent2,       // Diversity %
      // Stop Loss
      Formats.currency,       // Stop Price
      Formats.currency,       // Est. Credit
      Formats.currencyDelta,  // Est. Return
      Formats.percentDelta2,  // Est. Return %
      // Stock
      Formats.currency,       // Price
      Formats.currencyDelta,  // Change
      Formats.percentDelta2,  // Change %
      Formats.priceRange,     // 52 Week Range
      Formats.percentDelta0,  // Fair Value
      Formats.direction,      // Short Term
      Formats.direction,      // Mid Term
      Formats.direction,      // Long Term
      Formats.frequency,      // Div. Frequency
      Formats.currencyOrWarn, // Est. Annual Div.
      Formats.percentOrWarn2, // Est. Yield %
      Formats.percentDelta1,  // Div. Change %
      Formats.number2,        // P/E Ratio
      Formats.percent2,       // Payout %
      Formats.recommendation, // Yahoo Rec.
      Formats.recommendation, // Finnhub Rec.
      Formats.safetyAlt,      // Div. Safety
      Formats.dateFuture,     // Ex. Date
      Formats.metaScore,      // Score
    ]

    unpackData('#positions-table', data, formats);
    $('[data-toggle="tooltip"]').tooltip();
    dataTable('#positions-table', {
      order: [0, 'asc'],
      lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']]
    }, <%= default_columns %>);
  })
</script>
<% end %>

</div>
