<%
  positions = Position.where(user: current_user)
  market_value = positions.sum(:market_value)
%>
<table id="positions-table" class="table table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="no-sort no-search" style="width: 1px;"></th>
      <th style="width: 1px;">Symbol</th>
      <th>Company</th>
      <th class="no-search text-right">Shares</th>
      <th class="no-search text-right">Average Price</th>
      <th class="no-search text-right">Market Price</th>
      <th class="no-search text-right">Total Cost</th>
      <th class="no-search text-right">Market Value</th>
      <th class="no-search text-right">Gain/Loss</th>
      <th class="no-search text-right">Gain/Loss %</th>
      <th class="no-search text-right">Est. Ann. Dividend</th>
      <th class="no-search text-right">Est. Ann. Income</th>
      <th class="no-search text-right">Share %</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-center">
          <% if position.stock.logo.present? %>
            <img src="<%= position.stock.logo %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% else %>
            <img src="/img/no-logo.png" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td><%= link_to position.stock.symbol, position_path(position) %></td>
        <td><%= position.stock.company_name %></td>
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right"><%= number_to_currency(position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.market_price) %></td>
        <td class="text-right"><%= number_to_currency(position.total_cost) %></td>
        <td class="text-right"><%= number_to_currency(position.market_value) %></td>
        <% gain_loss = number_to_currency(position.gain_loss) %>
        <td class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(gain_loss) %></td>
        <% growth = number_to_percentage(position.gain_loss_pct, precision: 2) %>
        <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_dividend) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_income) %></td>
        <td class="text-right"><%= number_to_percentage(position.market_value / market_value * 100, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
  <%
    total_cost = positions.sum(:total_cost)
    est_annual_income = positions.sum(:est_annual_income)
    gain_loss = market_value - total_cost
    gain_loss_pct = total_cost > 0 ? gain_loss / total_cost * 100 : 0
  %>
  <tfoot class="thead-light">
    <tr>
      <th colspan="6" class="text-right">Total</th>
      <th class="text-right"><%= number_to_currency(total_cost) %></th>
      <th class="text-right"><%= number_to_currency(market_value) %></th>
      <th class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(number_to_currency(gain_loss)) %></th>
      <th class="text-right <%= delta_class(gain_loss_pct) %>"><%= delta_number(number_to_percentage(gain_loss_pct, precision: 2)) %></th>
      <th></th>
      <th class="text-right"><%= number_to_currency(est_annual_income) %></th>
      <th class="text-right"><%= number_to_percentage(100, precision: 2) %></th>
    </tr>
  </tfoot>
</table>

<div>
  <%= link_to 'New Position', new_position_path, class: 'btn btn-success' %>
</div>

<script>
    <% value = @positions.map {|p| (p.market_value / market_value * 100).round(2) } %>
    <% labels = @positions.map {|p| p.stock.to_s } %>

    function x() {
        if ($('#myChart').length === 0)
            return;

        var data = {
                datasets: [{
                    data: <%= json value %>,
                    backgroundColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                  }],
            labels: <%= json labels %>
        };

        var ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {}
        });
    }
</script>

<script>
  document.addEventListener("turbolinks:load", () => {
    const table = "#positions-table";
    if ($(table).length > 0 && !$.fn.dataTable.isDataTable(table)) {
      $(table).dataTable({order: $.fn.dataTable.orderOrSaved([1, 'asc'])});
    }
    x();
  })

  function refresh_page() {
    window.location.reload();
  }
</script>

<div class="form-group row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2">
    <canvas id="myChart" width="300" height="300"></canvas>
  </div>
  <div class="col-sm-5"></div>
</div>
