<% content_for :page_title do %>
  <div class="btn-group btn-group-toggle float-right" style="margin-right: 15px; margin-top: 15px;" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" id="positions-table-radio" name="representation" autocomplete="off" onclick='switch_representation_to_table("#positions-table-container", "#positions-charts-container");'> Table
    </label>
    <label class="btn btn-secondary">
      <input type="radio" id="positions-charts-radio" name="representation" autocomplete="off" onclick='switch_representation_to_charts("#positions-table-container", "#positions-charts-container");'> Charts
    </label>
  </div>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center" style="margin-left: 132px;">
    <h1 class="bd-title">My Positions</h1>
  </header>
<% end %>

<div id="positions-table-container">
<%
  positions = Position.where(user: current_user)
  market_value = positions.sum(:market_value)
%>
<table id="positions-table" class="table table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-center border-right">Symbol</th>
      <th class="no-search text-right">Shares</th>
      <th class="no-search text-right border-right">Average Price</th>
      <th class="no-search text-right">Market Price</th>
      <th class="no-search text-right">Total Cost</th>
      <th class="no-search text-right">Market Value</th>
      <th class="no-search text-right">Gain/Loss</th>
      <th class="no-search text-right">Gain/Loss %</th>
      <th class="no-search text-right">Est. Ann. Dividend</th>
      <th class="no-search text-right">Est. Ann. Income</th>
      <th class="no-search text-right">Share %</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-nowrap border-right" data-search="<%= position.stock.symbol %>">
          <div class="text-center" style="width: 48px; display: inline-block; margin-right: 10px;">
            <img src="<%= position.stock.logo.present? ? position.stock.logo : '/img/no-logo.png' %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          </div>
          <%= link_to position.stock.symbol, stock_path(position.stock) %>
        </td>
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right border-right"><%= number_to_currency(position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.market_price) %></td>
        <td class="text-right"><%= number_to_currency(position.total_cost) %></td>
        <td class="text-right"><%= number_to_currency(position.market_value) %></td>
        <% gain_loss = number_to_currency(position.gain_loss) %>
        <td class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(gain_loss) %></td>
        <% growth = number_to_percentage(position.gain_loss_pct, precision: 2) %>
        <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_dividend) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_income) %></td>
        <td class="text-right"><%= number_to_percentage((position.market_value / market_value * 100 rescue nil), precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
  <%
    total_cost = positions.sum(:total_cost)
    est_annual_income = positions.sum(:est_annual_income)
    gain_loss = market_value - total_cost
    gain_loss_pct = total_cost > 0 ? gain_loss / total_cost * 100 : 0
  %>
  <tfoot class="thead-light">
    <tr>
      <th colspan="1" class="border-right"></th>
      <th colspan="2" class="border-right"></th>
      <th colspan="1" class="text-right">Total</th>
      <th class="text-right"><%= number_to_currency(total_cost) %></th>
      <th class="text-right"><%= number_to_currency(market_value) %></th>
      <th class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(number_to_currency(gain_loss)) %></th>
      <th class="text-right <%= delta_class(gain_loss_pct) %>"><%= delta_number(number_to_percentage(gain_loss_pct, precision: 2)) %></th>
      <th></th>
      <th class="text-right"><%= number_to_currency(est_annual_income) %></th>
      <th class="text-right"><%= number_to_percentage(100, precision: 2) %></th>
    </tr>
  </tfoot>
</table>
</div>

<div id="positions-charts-container">
  <div class="row">
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-right" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-center">Stock allocation</h4>
        <canvas id="position_allocation" width="580" height="400"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-left" style="width: 580px; height: 443px; padding-bottom: 15px;">
        <h4 class="text-center">Sector allocation</h4>
        <canvas id="sector_allocation" width="580" height="400"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", () => {
    init_representation("#positions-table-container", "#positions-charts-container", "#positions-table-radio", "#positions-charts-radio");
    dataTable("#positions-table", {order: [0, 'asc']});

    destroy_all_charts();
    <% values, labels = position_allocation %>
    allocation_chart("#position_allocation", <%= json values %>, <%= json labels %>);
    <% values, labels, symbols = sector_allocation %>
    allocation_chart("#sector_allocation", <%= json values %>, <%= json labels %>, <%= json symbols %>);
  })

  function refresh_page() {
    window.location.reload();
  }
</script>
