<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 1px;"></th>
      <th>Symbol</th>
      <th>Company</th>
      <th class="text-right">Shares</th>
      <th class="text-right">Average Cost</th>
      <th class="text-right">Total Cost</th>
    </tr>
  </thead>

  <tbody>
    <% total_cost = 0 %>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-center">
          <% if position.stock.company&.logo.present? %>
            <img src="<%= position.stock.company.logo %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td><%= link_to position.stock.symbol, position_path(position) %></td>
        <td><%= position.stock.company&.company_name %></td>
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right"><%= number_to_currency(position.average_cost) %></td>
        <td class="text-right"><%= number_to_currency(position.shares * position.average_cost) %></td>
      </tr>
      <% total_cost += position.shares * position.average_cost %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right"><%= number_to_currency(total_cost) %></td>
    </tr>
  </tfoot>
</table>

<div>
  <%= link_to 'New Position', new_position_path, class: 'btn btn-success' %>
</div>
