<% content_for :page_title do %>
  <%= render partial: 'shared/format', locals: {table: "#positions-table-container", chart: "#positions-charts-container"} %>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center my-header">
    <h1 class="bd-title">My Positions</h1>
  </header>
<% end %>

<div id="positions-table-container">
  <%= render partial: 'shared/column', locals: {columns: @columns} %>
<table id="positions-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-center border-right">Symbol</th>
      <% @columns.each do |column| %>
        <th class="<%= 'no-search' unless column[:searchable] %> text-<%= column[:align] || 'right' %> text-nowrap"><%= column[:label] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot class="thead-light">
    <tr>
      <th class="text-right border-right">Total</th>
      <th colspan="5"></th>
      <th class="text-right"><%= number_to_currency(@summary[:total_cost]) %></th>
      <th class="text-right"><%= number_to_currency(@summary[:market_value]) %></th>
      <th class="text-right <%= delta_class(@summary[:gain_loss]) %>"><%= delta_number(number_to_currency(@summary[:gain_loss])) %></th>
      <th class="text-right <%= delta_class(@summary[:gain_loss_pct]) %>"><%= delta_number(number_to_percentage(@summary[:gain_loss_pct], precision: 2)) %></th>
      <th class="text-right"><%= number_to_currency(@summary[:est_annual_income]) %></th>
      <th class="text-right"><%= number_to_percentage(100, precision: 2) %></th>
      <th colspan="5"></th>
      <th class="text-right"><%= number_to_percentage(@summary[:yield_on_value], precision: 2) %></th>
      <th colspan="5"></th>
      <th class="text-center">
        <% if @summary[:dividend_rating] %>
          <span class="badge badge-dark <%= meta_score_class(@summary[:dividend_rating] * 20) %>">
            <%= (@summary[:dividend_rating] * 20).to_i %>
          </span>
        <% end %>
      </th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>
</div>

<div id="positions-charts-container">
  <div class="row">
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-right" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-center">Stock allocation</h4>
        <canvas id="position_allocation" width="580" height="400"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-left" style="width: 580px; height: 443px; padding-bottom: 15px;">
        <h4 class="text-center">Sector allocation</h4>
        <canvas id="sector_allocation" width="580" height="400"></canvas>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
<script>
  document.addEventListener('turbolinks:load', () => {
    const data = <%= @data.to_json.html_safe %>;
    const formats = [
      // Stock
      Formats.symbol,         // Symbol
      Formats.text,           // Company
      Formats.flag,           // Country
      // Position
      Formats.number,         // Shares
      Formats.currency,       // Average Price
      Formats.currency,       // Market Price
      Formats.currency,       // Total Cost
      Formats.currency,       // Market Value
      Formats.currencyDelta,  // Gain/Loss
      Formats.percentDelta2,  // Gain/Loss %
      Formats.currency,       // Annual Dividend
      Formats.percent2,       // Diversity %
      // Stock
      Formats.currency,       // Price
      Formats.currencyDelta,  // Change
      Formats.percentDelta2,  // Change %
      Formats.percentDelta0,  // Fair Value
      Formats.currencyOrWarn, // Est. Annual Div.
      Formats.percentOrWarn2, // Est. Yield %
      Formats.percentDelta1,  // Div. Change %
      Formats.number2,        // P/E Ratio
      Formats.percent2,       // Payout %
      Formats.recommendation, // Yahoo Rec.
      Formats.recommendation, // Finnhub Rec.
      Formats.safetyAlt,      // Div. Safety
      Formats.date,           // Ex. Date
      Formats.metaScore,      // Score
    ]

    unpackData('#positions-table', data, formats);
    $('[data-toggle="tooltip"]').tooltip();
    dataTable('#positions-table', {
      order: [0, 'asc'],
      lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']]
    }, <%= default_columns %>);

    destroy_all_charts();
    <% values, labels = position_allocation %>
    allocation_chart('#position_allocation', <%= json values %>, <%= json labels %>);
    <% values, labels, symbols = sector_allocation %>
    allocation_chart('#sector_allocation', <%= json values %>, <%= json labels %>, <%= json symbols %>);
  })
</script>
<% end %>
