<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 1px;"></th>
      <th>Symbol</th>
      <th>Company</th>
      <th class="text-right">Shares</th>
      <th class="text-right">Average Cost</th>
      <th class="text-right">Market Price</th>
      <th class="text-right">Cost Basis</th>
      <th class="text-right">Market Value</th>
      <th class="text-right">Gain/Loss</th>
      <th class="text-right">Growth</th>
    </tr>
  </thead>

  <tbody>
    <% total_cost = market_value = total_gain_loss = 0 %>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-center">
          <% if position.stock.logo.present? %>
            <img src="<%= position.stock.logo %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td><%= link_to position.stock.symbol, position_path(position) %></td>
        <td><%= position.stock.company_name %></td>
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right"><%= number_to_currency(position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.stock.current_price) %></td>
        <td class="text-right"><%= number_to_currency(position.shares * position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.shares * position.stock.current_price) %></td>
        <% gain_loss = number_to_currency(position.shares * (position.stock.current_price - position.average_price)) %>
        <td class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(gain_loss) %></td>
        <% growth = number_to_percentage((position.stock.current_price - position.average_price) / position.average_price * 100, precision: 2) %>
        <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
      </tr>
      <% total_cost += position.shares * position.average_price %>
      <% market_value += position.shares * position.stock.current_price %>
      <% total_gain_loss += position.shares * (position.stock.current_price - position.average_price) %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="text-right"><strong>Total</strong></td>
      <td class="text-right"><%= number_to_currency(total_cost) %></td>
      <td class="text-right"><%= number_to_currency(market_value) %></td>
      <td class="text-right <%= delta_class(total_gain_loss) %>"><%= delta_number(number_to_currency(total_gain_loss)) %></td>
      <% growth = number_to_percentage(total_cost > 0 ? total_gain_loss / total_cost * 100 : 0, precision: 2) %>
      <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
    </tr>
  </tfoot>
</table>

<div>
  <%= link_to 'New Position', new_position_path, class: 'btn btn-success' %>
</div>

<script>
  function refresh_page() {
      window.location.reload();
  }
</script>
