<table id="data-table" class="table table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="no-sort no-search" style="width: 1px;"></th>
      <th>Symbol</th>
      <th>Company</th>
      <th class="no-search text-right">Shares</th>
      <th class="no-search text-right">Average Price</th>
      <th class="no-search text-right">Market Price</th>
      <th class="no-search text-right">Total Cost</th>
      <th class="no-search text-right">Market Value</th>
      <th class="no-search text-right">Gain/Loss</th>
      <th class="no-search text-right">Gain/Loss %</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-center">
          <% if position.stock.logo.present? %>
            <img src="<%= position.stock.logo %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td><%= link_to position.stock.symbol, position_path(position) %></td>
        <td><%= position.stock.company_name %></td>
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right"><%= number_to_currency(position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.market_price) %></td>
        <td class="text-right"><%= number_to_currency(position.total_cost) %></td>
        <td class="text-right"><%= number_to_currency(position.market_value) %></td>
        <% gain_loss = number_to_currency(position.gain_loss) %>
        <td class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(gain_loss) %></td>
        <% growth = number_to_percentage(position.gain_loss_pct, precision: 2) %>
        <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot class="thead-light">
    <%
      positions = Position.where(user: current_user)
      total_cost = positions.sum(:total_cost)
      market_value = positions.sum(:market_value)
      gain_loss = market_value - total_cost
      gain_loss_pct = total_cost > 0 ? gain_loss / total_cost * 100 : 0
    %>
    <tr>
      <th colspan="6" class="text-right"><strong>Total</strong></th>
      <th class="text-right"><%= number_to_currency(total_cost) %></th>
      <th class="text-right"><%= number_to_currency(market_value) %></th>
      <th class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(number_to_currency(gain_loss)) %></th>
      <th class="text-right <%= delta_class(gain_loss_pct) %>"><%= delta_number(number_to_percentage(gain_loss_pct, precision: 2)) %></th>
    </tr>
  </tfoot>
</table>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<div>
  <%= link_to 'New Position', new_position_path, class: 'btn btn-success' %>
</div>

<script>
  function on_page_load() {
    $("#data-table").dataTable({order: [1, 'asc']});
  }

  function refresh_page() {
    window.location.reload();
  }
</script>
