<%
  positions = Position.where(user: current_user)
  market_value = positions.sum(:market_value)
%>
<table id="positions-table" class="table table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-center border-right">Symbol</th>
      <!--th>Company</th-->
      <th class="no-search text-right">Shares</th>
      <th class="no-search text-right border-right">Average Price</th>
      <th class="no-search text-right">Market Price</th>
      <th class="no-search text-right">Total Cost</th>
      <th class="no-search text-right">Market Value</th>
      <th class="no-search text-right">Gain/Loss</th>
      <th class="no-search text-right">Gain/Loss %</th>
      <th class="no-search text-right">Est. Ann. Dividend</th>
      <th class="no-search text-right">Est. Ann. Income</th>
      <th class="no-search text-right">Share %</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td class="text-nowrap border-right" data-search="<%= position.stock.symbol %>">
          <div class="text-center" style="width: 48px; display: inline-block; margin-right: 10px;">
            <img src="<%= position.stock.logo.present? ? position.stock.logo : '/img/no-logo.png' %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          </div>
          <%= link_to position.stock.symbol, stock_path(position.stock) %>
        </td>
        <!--td><%#= position.stock.company_name %></td-->
        <td class="text-right"><%= number_with_precision(position.shares, delimiter: ',', strip_insignificant_zeros: true) %></td>
        <td class="text-right border-right"><%= number_to_currency(position.average_price) %></td>
        <td class="text-right"><%= number_to_currency(position.market_price) %></td>
        <td class="text-right"><%= number_to_currency(position.total_cost) %></td>
        <td class="text-right"><%= number_to_currency(position.market_value) %></td>
        <% gain_loss = number_to_currency(position.gain_loss) %>
        <td class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(gain_loss) %></td>
        <% growth = number_to_percentage(position.gain_loss_pct, precision: 2) %>
        <td class="text-right <%= delta_class(growth) %>"><%= delta_number(growth) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_dividend) %></td>
        <td class="text-right"><%= number_to_currency(position.est_annual_income) %></td>
        <td class="text-right"><%= number_to_percentage(position.market_value / market_value * 100, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
  <%
    total_cost = positions.sum(:total_cost)
    est_annual_income = positions.sum(:est_annual_income)
    gain_loss = market_value - total_cost
    gain_loss_pct = total_cost > 0 ? gain_loss / total_cost * 100 : 0
  %>
  <tfoot class="thead-light">
    <tr>
      <th colspan="1" class="border-right"></th>
      <th colspan="2" class="border-right"></th>
      <th colspan="1" class="text-right">Total</th>
      <th class="text-right"><%= number_to_currency(total_cost) %></th>
      <th class="text-right"><%= number_to_currency(market_value) %></th>
      <th class="text-right <%= delta_class(gain_loss) %>"><%= delta_number(number_to_currency(gain_loss)) %></th>
      <th class="text-right <%= delta_class(gain_loss_pct) %>"><%= delta_number(number_to_percentage(gain_loss_pct, precision: 2)) %></th>
      <th></th>
      <th class="text-right"><%= number_to_currency(est_annual_income) %></th>
      <th class="text-right"><%= number_to_percentage(100, precision: 2) %></th>
    </tr>
  </tfoot>
</table>

<script>
    <% positions = @positions.sort_by(&:market_value).reverse %>
    <% value = positions.map(&:market_value) # positions.map {|p| (p.market_value / market_value * 100).round(2) } %>
    <% labels = positions.map {|p| p.stock.symbol } %>

    function x() {
        var total = <%= market_value %>;
        if ($('#myChart').length === 0)
            return;

        var data = {
                datasets: [{
                    data: <%= json value %>,
                    backgroundColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                  }],
            labels: <%= json labels %>
        };

        var ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
              legend: {
                position: 'right',
                labels: {
                  boxWidth: 12
                },
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    const label = data.labels[tooltipItem.index];
                    const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                    let share = Number(value / total) * 100;
                    if (share >= 10) share = share.toFixed(0)
                    else if (share >= 1) share = share.toFixed(1)
                    else if (share >= 0.1) share = share.toFixed(2);

                    return label + ': $' + Number(value).toFixed(2) + ' (' + share + '%)';
                  }
                }
              },
              plugins: {
                datalabels: {
                  display: false
                }
              }
            }
        });
    }
</script>

<script>
  document.addEventListener("turbolinks:load", () => {
    dataTable("#positions-table", {order: [0, 'asc']});
    x();
  })

  function refresh_page() {
    window.location.reload();
  }
</script>

<div class="form-group row">
  <div class="mx-auto" style="height: 400px;">
    <canvas id="myChart" width="500" height="400"></canvas>
  </div>
</div>
