<% @page_title = t('account.pages.account') %>
<% @page_menu_item = :account %>

<div class="w-full flex flex-col xl:flex-row space-x-0 xl:space-x-4 space-y-4 xl:space-y-0">
  <div class="w-full flex flex-col xl:w-1/2 space-y-4">
    <%= render partial: 'devise/registrations/forms/profile', locals: { resource: resource, resource_name: resource_name } %>
  </div>
  <div class="w-full flex flex-col xl:w-1/2 space-y-4">
    <%= turbo_frame_tag :user_apis do %>
      <%= render partial: 'devise/registrations/forms/api', locals: { resource: resource, resource_name: resource_name } %>
    <% end %>
    <%= turbo_frame_tag :user_taxes do %>
      <%= render partial: 'devise/registrations/forms/taxes', locals: { resource: resource, resource_name: resource_name } %>
    <% end %>
  </div>
</div>
