<% @page_title = t('devise.registrations.new.sign_up') %>
<div class="section section-form">
  <h2><%= t('devise.registrations.new.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('activerecord.attributes.user.email'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      <% if @minimum_password_length %>
        <p class="text-gray-600 text-xs mt-1 mb-0"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password_confirmation'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-4">
      <%= f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>
