<p class="pl-1">
  <strong>
    <%= @notification.company_name %>
    <%= change_icon(@notification.price_change) %><span class="<%= delta_class(@notification.price_change) %>"><%= number_to_percentage(@notification.price_change_pct, precision: 2) %></span>
  </strong>
</p>

<%
  rows = []
  rows << { label: t('stocks.summary.dividend_change'), value: "#{change_icon(@notification.div_change_pct)}#{number_to_percentage(@notification.div_change_pct, precision: 1) } (#{number_to_currency(@notification.prev_div_amount, precision: dividend_precision(@notification.prev_div_amount))} &#8594 #{number_to_currency(@notification.next_div_amount, precision: dividend_precision(@notification.next_div_amount))})".html_safe, class: delta_class(@notification.div_change_pct) } if @notification.div_change_pct
  if @notification.div_suspended?
    rows << { label: t('stocks.summary.forward_dividend_and_yield'), value: t('stocks.summary.suspended'), class: 'text-negative' }
  else
    if @notification.est_annual_dividend_taxed
      rows << { label: t('stocks.summary.forward_dividend_and_yield_bt'), value: "#{number_to_currency(@notification.est_annual_dividend)} (#{number_to_percentage(@notification.est_annual_dividend_pct, precision: 2) })"} if @notification.est_annual_dividend
      rows << { label: t('stocks.summary.forward_dividend_and_yield_at'), value: "#{number_to_currency(@notification.est_annual_dividend_taxed)} (#{number_to_percentage(@notification.est_annual_dividend_taxed_pct, precision: 2) })"}
    else
      rows << { label: t('stocks.summary.forward_dividend_and_yield'), value: "#{number_to_currency(@notification.est_annual_dividend)} (#{number_to_percentage(@notification.est_annual_dividend_pct, precision: 2) })"} if @notification.est_annual_dividend
    end
    rows << { label: t('stocks.summary.dividend_growth_3y'), value: "#{change_icon(@notification.dividend_growth_3y)}#{number_to_percentage(@notification.dividend_growth_3y, precision: 2) }".html_safe, class: delta_class(@notification.dividend_growth_3y)} if @notification.dividend_growth_3y
    rows << { label: t('stocks.summary.dividend_growth_5y'), value: "#{change_icon(@notification.dividend_growth_5y)}#{number_to_percentage(@notification.dividend_growth_5y, precision: 2) }".html_safe, class: delta_class(@notification.dividend_growth_5y)} if @notification.dividend_growth_5y
    rows << { label: t('stocks.summary.years_of_dividend_growth'), value: @notification.dividend_growth_years } if @notification.dividend_growth_years
  end
  rows << { label: t('stocks.summary.dividend_safety'), value: "#{number_with_precision(@notification.dividend_rating, precision: 1) } (#{safety_human(@notification.dividend_rating)})" } if @notification.dividend_rating
  rows << { label: t('stocks.summary.payout'), value: number_to_percentage(@notification.payout_ratio, precision: 2) } unless @notification.payout_ratio.to_f.zero?
%>
<table class="section-table mb-4">
  <% rows.each do |row| %>
  <tr>
    <td>
      <%= row[:label] %>:
      <strong class="<%= row[:class] %>"><%= row[:value] %></strong>
    </td>
  </tr>
  <% end %>
</table>

<% if @notification.position? %>
  <h3>Position</h3>
  <table class="section-table mb-4">
    <tr>
      <td>
        Shares:
        <strong><%= number_with_precision(@notification.shares, delimiter: ',', strip_insignificant_zeros: true) %></strong>
      </td>
    </tr>
    <% if @notification.est_annual_income %>
      <tr>
        <td>
          <%= t('positions.attributes.annual_dividend') %>:
          <strong class="<%= delta_class(@notification.div_change_pct) %>"><%= number_to_currency(@notification.est_annual_income_was) %> &#8594 <%= number_to_currency(@notification.est_annual_income) %></strong>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Dividend History</h3>
<table class="section-table mb-4">
  <thead>
    <tr>
      <th class="text-left">Pay Date</th>
      <th class="text-left">Declared</th>
      <th class="text-left">Ex-Date</th>
      <th class="text-right">Amount</th>
    </tr>
  </thead>
  <% @notification.dividends.first(12).each do |dividend| %>
    <tr>
      <td><%= dividend.pay_date&.strftime("%Y-%m-%d") %></td>
      <td><%= dividend.declaration_date&.strftime("%Y-%m-%d") %></td>
      <td><%= dividend.ex_dividend_date&.strftime("%Y-%m-%d") %></td>
      <td class="text-right">
        <%= number_to_currency(dividend.amount, precision: dividend_precision(dividend.amount)) %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= stock_url(@notification.symbol) %>">Open <%= @notification.symbol %> on xStocks</a><br>
