<% div = ::Dividend.new %>
<% estimates = @positions.map { |position| [position, div.estimate(position.stock)] }  %>
<% months = Array.new(12, 0.to_d)  %>
<table id="dividends-table" class="table table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th class="text-center border-right">Symbol</th>
    <%
      month_names = []
       div.months.each_with_index do |month, index|
         month_names << (index == 0 || index == 11 ? month.strftime("%b'%y") : month.strftime('%b'))
       end
    %>
    <% month_names.each do |month_name| %>
      <th class="text-right" style="width: 7%"><%= month_name %></th>
    <% end %>
    <th class="text-right border-left">Total</th>
  </tr>
  </thead>
  <tbody>
  <% estimates.each do |position, est| %>
  <tr>
    <td class="text-nowrap border-right" data-search="<%= position.stock.symbol %>">
      <div class="text-center" style="width: 48px; display: inline-block">
        <img src="<%= position.stock.logo.present? ? position.stock.logo : '/img/no-logo.png' %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
      </div>
      <%= link_to position.stock.symbol, stock_path(position.stock) %>
    </td>
    <% div.months.each_with_index do |month, index| %>
      <% amount = est.detect {|e| e[:month] == month}&.dig(:amount) * position.shares rescue nil %>
      <% months[index] += amount if amount %>
      <td class="text-right"><%= number_to_currency amount %></td>
    <% end %>
    <td class="text-right border-left"><%= number_to_currency est.map {|e| e[:amount] }.sum * position.shares rescue nil %></td>
  </tr>
  <% end %>
  </tbody>
  <tfoot class="thead-light">
    <tr>
      <th class="text-right border-right" colspan="1">Total</th>
      <% months.each do |month| %>
        <th class="text-right"><%= number_to_currency month %></th>
      <% end %>
      <th class="text-right border-left"><%= number_to_currency months.sum %></th>
    </tr>
  </tfoot>
</table>

<div class="row">
  <div class="mx-auto" style="width: 500px; height: 400px;">
    <canvas id="monthly-divs-canvas" width="500" height="400"></canvas>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", () => {
    dataTable("#dividends-table", {order: [1, 'asc']});
    dividends_month_chart('#monthly-divs-canvas', {
      labels: <%= json month_names %>,
      datasets: [{
        data: <%= json months %>,
        borderColor: <%= json Array.new(12, 'rgb(45,137,239)') %>,
        borderWidth: 1,
        backgroundColor: <%= json Array.new(12, 'rgb(45,137,239,0.5)') %>
      }]
    })
  })
</script>
