<% content_for :page_title do %>
  <div class="btn-group btn-group-toggle float-right" style="margin-right: 15px; margin-top: 15px;" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" id="dividends-table-radio" name="representation" autocomplete="off" onclick='switch_representation_to_table("#dividends-table-container", "#dividends-charts-container");'> Table
    </label>
    <label class="btn btn-secondary">
      <input type="radio" id="dividends-charts-radio" name="representation" autocomplete="off" onclick='switch_representation_to_charts("#dividends-table-container", "#dividends-charts-container");'> Charts
    </label>
  </div>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center" style="margin-left: 132px;">
    <h1 class="bd-title">My Dividends</h1>
  </header>
<% end %>

<div id="dividends-table-container">
<% div = ::Dividend.new %>
<% estimates = @positions.map { |position| [position, div.estimate(position.stock)] }  %>
<% months = Array.new(12, 0.to_d)  %>
<table id="dividends-table" class="table table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th class="text-center border-right">Symbol</th>
    <%
      month_names = []
       div.months.each_with_index do |month, index|
         month_names << (index == 0 || index == 11 ? month.strftime("%b'%y") : month.strftime('%b'))
       end
    %>
    <% month_names.each do |month_name| %>
      <th class="text-right" style="width: 7%"><%= month_name %></th>
    <% end %>
    <th class="text-right border-left">Total</th>
  </tr>
  </thead>
  <tbody>
  <% estimates.each do |position, est| %>
  <tr>
    <td class="text-nowrap border-right" data-search="<%= position.stock.symbol %>">
      <div class="text-center" style="width: 48px; display: inline-block; margin-right: 10px;">
        <img src="<%= position.stock.logo.present? ? position.stock.logo : '/img/no-logo.png' %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
      </div>
      <%= link_to position.stock.symbol, stock_path(position.stock) %>
    </td>
    <% div.months.each_with_index do |month, index| %>
      <% amount = est.detect {|e| e[:month] == month}&.dig(:amount) * position.shares rescue nil %>
      <% months[index] += amount if amount %>
      <td class="text-right"><%= number_to_currency amount %></td>
    <% end %>
    <td class="text-right border-left"><%= number_to_currency est.map {|e| e[:amount] }.sum * position.shares rescue nil %></td>
  </tr>
  <% end %>
  </tbody>
  <tfoot class="thead-light">
    <tr>
      <th class="text-right border-right" colspan="1">Total</th>
      <% months.each do |month| %>
        <th class="text-right"><%= number_to_currency month %></th>
      <% end %>
      <th class="text-right border-left"><%= number_to_currency months.sum %></th>
    </tr>
  </tfoot>
</table>
</div>

<div id="dividends-charts-container">
  <div class="row">
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-right" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-center">Est. Annual Dividend Allocation</h4>
        <canvas id="dividends_allocation" width="580" height="400"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-left" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-center">Est. Monthly Dividends</h4>
        <canvas id="monthly_dividends" width="500" height="350"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", () => {
    init_representation("#dividends-table-container", "#dividends-charts-container", "#dividends-table-radio", "#dividends-charts-radio");
    dataTable("#dividends-table", {order: [0, 'asc']});
    <% values, labels = dividends_allocation %>
    allocation_chart("#dividends_allocation", <%= json values %>, <%= json labels %>);
    dividends_month_chart('#monthly_dividends', {
      labels: <%= json month_names %>,
      datasets: [{
        data: <%= json months %>,
        backgroundColor: <%= json Array.new(12, '#5B9BD5') %>
      }]
    })
  })
</script>
