<% div = ::Dividend.new %>
<% estimates = @positions.map { |position| [position, div.estimate(position.stock)] }  %>
<% months = Array.new(12, 0.to_d)  %>
<table id="dividends-table" class="table table-hover table-override">
  <thead class="thead-light">
  <tr>
    <th class="no-sort no-search" style="width: 1px;"></th>
    <th>Symbol</th>
    <th class="border-right">Company</th>
    <%
      month_names = []
       div.months.each_with_index do |month, index|
         month_names << (index == 0 || index == 11 ? month.strftime("%b'%y") : month.strftime('%b'))
       end
    %>
    <% month_names.each do |month_name| %>
      <th class="text-right" style="width: 6%"><%= month_name %></th>
    <% end %>
    <th class="text-right border-left">Total</th>
  </tr>
  </thead>
  <tbody>
  <% estimates.each do |position, est| %>
  <tr>
    <td class="text-center">
      <% if position.stock.logo.present? %>
        <img src="<%= position.stock.logo %>" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
      <% else %>
        <img src="/img/no-logo.png" alt="<%= position.stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
      <% end %>
    </td>
    <td><%= link_to position.stock.symbol, position_path(position) %></td>
    <td class="border-right"><%= position.stock.company_name %></td>
    <% div.months.each_with_index do |month, index| %>
      <% amount = est.detect {|e| e[:month] == month}&.dig(:amount) * position.shares rescue nil %>
      <% months[index] += amount if amount %>
      <td class="text-right"><%= number_to_currency amount %></td>
    <% end %>
    <td class="text-right border-left"><%= number_to_currency est.map {|e| e[:amount] }.sum * position.shares rescue nil %></td>
  </tr>
  <% end %>
  </tbody>
  <tfoot class="thead-light">
    <tr>
      <th class="text-right border-right" colspan="3">Total</th>
      <% months.each do |month| %>
        <th class="text-right"><%= number_to_currency month %></th>
      <% end %>
      <th class="text-right border-left"><%= number_to_currency months.sum %></th>
    </tr>
  </tfoot>
</table>

<div class="row">
  <div class="mx-auto" style="width: 500px; height: 300px;">
    <canvas id="monthly-divs-canvas" width="500" height="300"></canvas>
  </div>
</div>

<script>
    function x2() {
        const canvas = $('#monthly-divs-canvas');
        if (canvas.length === 0) return;

        const data = {
            labels: <%= json month_names %>,
            datasets: [{
                data: <%= json months %>,
                backgroundColor: <%= json Array.new(12, '#2D89EF') %>
            }]
        }

        new Chart(canvas, {
            type: 'bar',
            data: data,
            options: {
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: false
                },
                scales: {
                    yAxes: [{
                        display: false,
                        ticks: {
                            beginAtZero: true,
                            display: false,
                        },
                        gridLines: {
                            lineWidth: 0,
                            display: false,
                        },
                    }],
                    xAxes: [{
                        ticks: {
                            display: true,
                        },
                        gridLines: {
                            lineWidth: 0,
                            display: false,
                        },
                    }]
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        color: '#111111',
                        display: 'auto',
                        font: {
                            weight: 'bold'
                        },
                        formatter: function(value, context) {
                            return formatCurrency(value);
                        }
                    }
                }
            }
        });
    }

    document.addEventListener("turbolinks:load", () => {
        const table = "#dividends-table";
        if ($(table).length > 0 && !$.fn.dataTable.isDataTable(table)) {
            $(table).dataTable({order: $.fn.dataTable.orderOrSaved([1, 'asc'])});
        }
        x2();
    })
</script>
