<div class="w-full mx-auto bg-white shadow-md rounded px-2 md:px-8 pt-3 md:pt-6 pb-3">
  <div class="flex space-x-2 block relative mt-1 float-right" style="width: 36rem;">
    <div class="flex flex-row flex-auto relative">
      <input placeholder="Search" class="appearance-none rounded-lg border border-gray-400 border-b block py-2 px-3 w-full placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none">
      <span class="relative w-0 right-0 text-base text-gray-500 pointer-events-none">
        <%= inline_svg('svg/magnify.svg', size: '24*24', class: 'absolute right-full top-3 right-2 text-gray-500') %>
      </span>
    </div>

    <div class="inline-block">
      <%= select_tag('per_page', options_for_select(%w[10 25]), class: 'border border-gray-400 rounded-lg') %>
    </div>

    <div class="inline-block">
      <button type="button" class="inline-flex justify-center w-full rounded-lg border border-gray-400 shadow-sm py-2 px-4 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
        <%= inline_svg('svg/cog.svg', size: '24*24', class: '') %>
      </button>

      <div class="hidden border border-gray-400 origin-top-right absolute right-0 mt-1 w-56 rounded-md shadow bg-white ring-1 ring-black ring-opacity-5 focus:outline-none max-h-70 overflow-y-auto">
        <% @columns.each_with_index do |column, index| %>
          <% id = "columns_#{index}" %>
          <% selected = rand(2) > 0 %>
          <%= label_tag nil, id: id, class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 #{ 'font-bold bg-slate-200' if selected }" do %>
            <%= check_box_tag('columns[]', index, selected, id: id, class: 'mr-1') %> <%= column.label %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'dividends/formats', locals: { selected: 'table' } %>
  </div>

  <h2 class="uppercase mb-6 font-normal">My Dividends</h2>

  <div class="px-1 py-1 overflow-x-auto mb-3">
    <div class="inline-block min-w-full shadow-sm rounded-lg overflow-hidden">
      <table class="min-w-full leading-normal">

  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th class="border-b-2 border-gray-200 bg-gray-100 text-left font-semibold text-gray-600 uppercase tracking-wider p-1 whitespace-nowrap <%= column.align %>">
          <% if column.sorting %>
            <%= sort_link_to column.label, '??', class: 'no-underline' %>
          <% else %>
            <%= column.label %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |row| %>
      <tr class="hover:bg-gray-100">
        <% row.each_with_index do |cell, index| %>
          <% column = @columns[index] %>
          <% value, style = column.format(cell) %>
          <td class="px-1 border-b border-gray-200 p-1 whitespace-nowrap <%= column.align %> <%= style %>"><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
    <% @summary_row.each_with_index do |cell, index| %>
      <% column = @columns[index] %>
      <% value, style = column.format(cell) %>
      <th class="border-b-2 border-gray-200 bg-gray-100 text-left font-semibold text-gray-600 uppercase tracking-wider p-1 whitespace-nowrap <%= column.align %> <%= style %>">
        <%= value %>
      </th>
    <% end %>
  </tr>
  </tfoot>
</table>
  </div>
</div>

  <%#== pagy_nav @pagy %>
</div>
