<% if @stock.description.present? %>
  <h3>Company Profile</h3>
  <p class="company-profile">
    <% if @stock.country.present? %>
      <strong>Headquarters:</strong> <%= country_flag_img_tag(@stock.country, size: 24, style: 'margin-bottom: 4px;') %> <%= CountryName.new.name(@stock.country) %>, <%= @stock.state %><br>
    <% end %>
    <% if @stock.website.present? %>
      <strong>Website:</strong> <%= link_to_website @stock.website %><br>
    <% end %>
    <% if @stock.employees.present? %>
      <strong>Employees:</strong> <%= number_with_delimiter(@stock.employees, delimiter: ',') %><br>
    <% end %>
    <% if @stock.industry.present? %>
      <strong>Industry:</strong> <%= @stock.industry %><br>
    <% end %>
    <strong>Issue Type:</strong> <%= @stock.issue_type_name %>
  </p>
  <p>
    <%= @stock.description %>
  </p>
<% end %>
