<% @stock.errors.full_messages.each do |msg| %>
<div class="alert alert-danger" role="alert">
  <%= msg %>
</div>
<% end %>

<div class="form-group">
  <%= form.label :symbol %>
  <%= form.text_field :symbol, style: 'text-transform: uppercase;' %>
</div>

<div>
  <%= link_to 'Back', @stock.new_record? ? stocks_path : stock_path(@stock), class: 'btn btn-link' %>
  <%= form.submit class: 'btn btn-primary' %>
</div>
