<% has_details = details.present? && details.detect {|_, v| v.detect {|i| !i.zero? }} %>
<% if mean.present? || has_details %>
<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4><%= label %></h4>
  <% if has_details %>
    <div style="width: 260px; height: 200px;" class="mx-auto">
      <canvas id="<%= id %>_details_canvas_<%= @stock.symbol %>" width="260" height="200"></canvas>
    </div>
    <script>
      document.addEventListener("turbolinks:load", () => {
        recommendation_details_chart($("#<%= id %>_details_canvas_<%= @stock.symbol %>"),
          <%= json rec_graph_data(details) %>,
          <%= rec_min_visible_value(details) %>
        );
      })
    </script>
  <% end %>
  <% if mean.present? %>
    <div style="display: block; width: 280px; height: 85px; margin-top: -5px;" class="mx-auto">
      <canvas id="<%= id %>_mean_canvas_<%= @stock.symbol %>" width="280" height="85" class="chartjs-render-monitor"></canvas>
    </div>
    <script>
      document.addEventListener("turbolinks:load", () => {
        recommendation_mean_chart($("#<%= id %>_mean_canvas_<%= @stock.symbol %>"),
          '<%= number_with_precision(mean, precision: 2) %>',
        )
      })
    </script>
  <% end %>
</div>
<% end %>
