<% if mean.present? || details.present? %>
<div style="margin-top: 15px;">
  <h4><%= label %></h4>
  <% if details.present? %>
    <div style="width: 260px; height: 200px;">
      <canvas id="<%= id %>_details_canvas" width="260" height="200"></canvas>
    </div>
    <script>
      document.addEventListener("turbolinks:load", () => {
        recommendation_details_chart($("#<%= id %>_details_canvas"),
          <%= json rec_graph_data(details) %>,
          <%= rec_min_visible_value(details) %>
        );
      })
    </script>
  <% end %>
  <% if mean.present? %>
    <div style="display: block; width: 280px; height: 85px; margin-top: -5px;">
      <canvas id="<%= id %>_mean_canvas" width="280" height="85" class="chartjs-render-monitor"></canvas>
    </div>
    <script>
      document.addEventListener("turbolinks:load", () => {
        recommendation_mean_chart($("#<%= id %>_mean_canvas"),
          '<%= number_with_precision(mean, precision: 2) %>',
        )
      })
    </script>
  <% end %>
</div>
<% end %>
