<h2 style="margin-top: 15px; margin-bottom: 0;"><%= number_to_currency(@stock.current_price) %> <small class="<%= delta_class(@stock.price_change) %>"><%= number_to_currency(@stock.price_change) %> (<%= number_to_percentage(@stock.price_change_pct, precision: 2) %>)</small></h2>

<% if @stock.exchange %>
  <small class="text-muted"><%= @stock.exchange %></small>
<% end %>

<table class="table table-sm" style="margin-top: 15px;">
  <tr>
    <td style="border-top: none; width: 48%">
      Previous Close: <strong class="float-right"><%= number_to_currency(@stock.prev_close_price) %></strong>
    </td>
    <td style="border-top: none; width: 4%;"></td>
    <td style="border-top: none; width: 48%;">
      EPS (TTM): <strong class="float-right"><%= number_with_precision(@stock.eps_ttm, precision: 2) %></strong>
    </td>
  </tr>
  <tr>
    <td>
      Open: <strong class="float-right"><%= number_to_currency(@stock.open_price) %></strong>
    </td>
    <td></td>
    <td>
      EPS Growth 5Y: <strong class="float-right"><%= number_to_percentage(@stock.eps_growth_5y, precision: 2) %></strong>
    </td>
  </tr>
  <tr>
    <td>
      Day's Range: <strong class="float-right"><%= number_to_currency(@stock.day_low_price) %> - <%= number_to_currency(@stock.day_high_price) %></strong>
    </td>
    <td></td>
    <td>
      Forward Dividend & Yield: <strong class="float-right">
      <% if @stock.est_annual_dividend %>
        <%= number_to_currency(@stock.est_annual_dividend) %> (<%= number_to_percentage(@stock.est_annual_dividend_pct, precision: 2) %>)
      <% end %>
    </strong>
    </td>
  </tr>
  <tr>
    <td>
      52 Week Range: <strong class="float-right">
      <% if @stock.week_52_low && @stock.week_52_high %>
        <%= number_to_currency(@stock.week_52_low) %> - <%= number_to_currency(@stock.week_52_high) %>
      <% end %>
    </strong>
    </td>
    <td></td>
    <td>
      Dividend Growth 5Y: <strong class="float-right"><%= number_to_percentage(@stock.dividend_growth_5y, precision: 2) %></strong>
    </td>
  </tr>
  <tr>
    <td>
      PE Ratio (TTM): <strong class="float-right"><%= number_with_precision(@stock.pe_ratio_ttm, precision: 2) %></strong>
    </td>
    <td></td>
    <td>
      Payout: <strong class="float-right"><%= number_to_percentage(@stock.payout_ratio, precision: 2) %></strong>
    </td>
  </tr>
  <% if @stock.outstanding_shares %>
  <tr>
    <td>
      Outstanding Shares: <strong class="float-right"><%= number_with_precision(@stock.outstanding_shares, delimiter: ',', strip_insignificant_zeros: true) %></strong>
    </td>
    <td></td>
    <td>
      Market Cap: <strong class="float-right"><%= number_to_currency(@stock.market_capitalization, strip_insignificant_zeros: true) %></strong>
    </td>
  </tr>
  <% end %>
</table>
