<% div_suspended = @stock.div_suspended? %>
<h2 style="margin-top: 15px; margin-bottom: 0;"><%= number_to_currency(@stock.current_price) %>
  <% if @stock.price_change %>
    <small class="<%= delta_class(@stock.price_change) %>"><%= number_to_currency(@stock.price_change) %> (<%= number_to_percentage(@stock.price_change_pct, precision: 2) %>)</small>
  <% end %>
</h2>

<% if @stock.exchange %>
  <small class="text-muted"><%= @stock.exchange %></small>
<% end %>

<%
  left_table = []
  left_table << {label: 'Previous Close', value: number_to_currency(@stock.prev_close_price)} if @stock.prev_close_price
  left_table << {label: 'Open', value: number_to_currency(@stock.open_price)} if @stock.open_price
  left_table << {label: "Day's Range", value: "#{number_to_currency(@stock.day_low_price)} - #{number_to_currency(@stock.day_high_price)}"} if @stock.day_low_price && @stock.day_high_price
  left_table << {label: '52 Week Range', value: "#{number_to_currency(@stock.week_52_low)} - #{number_to_currency(@stock.week_52_high)}"} if @stock.week_52_low && @stock.week_52_high
  left_table << {label: 'PE Ratio (TTM)', value: number_with_precision(@stock.pe_ratio_ttm, precision: 2)} if @stock.week_52_low && @stock.pe_ratio_ttm
  left_table << {label: 'Outstanding Shares', value: number_with_precision(@stock.outstanding_shares, delimiter: ',', strip_insignificant_zeros: true)} if @stock.outstanding_shares
  left_table << {label: 'Market Cap', value: number_to_currency(@stock.market_capitalization, strip_insignificant_zeros: true)} if @stock.market_capitalization
  left_table << {label: 'Fair Value', value: "#{delta_number(number_to_percentage(@stock.yahoo_discount, precision: 0))} (#{@stock.yahoo_discount.to_i > 0 ? 'Undervalued' : 'Overvalued'})", help: 'Fair Value is the appropriate price for the shares of a company, based on its earnings and growth rate also interpreted as when P/E Ratio = Growth Rate. Estimated return represents the projected annual return you might expect after purchasing shares in the company and holding them over the default time horizon of 5 years, based on the EPS growth rate that we have projected.'} if @stock.yahoo_discount

  right_table = []
  right_table << {label: 'EPS (TTM)', value: number_with_precision(@stock.eps_ttm, precision: 2)} if @stock.eps_ttm
  right_table << {label: 'EPS Growth 5Y', value:number_to_percentage(@stock.eps_growth_5y, precision: 2)} if @stock.eps_growth_5y
  if div_suspended
    right_table << {label: 'Forward Dividend & Yield', value: 'Suspended', danger: true}
  else
    right_table << {label: 'Forward Dividend & Yield', value: "#{number_to_currency(@stock.est_annual_dividend)} (#{number_to_percentage(@stock.est_annual_dividend_pct, precision: 2)})"} if @stock.est_annual_dividend
    right_table << {label: 'Dividend Growth 3Y', value: number_to_percentage(@stock.dividend_growth_3y, precision: 2)} if @stock.dividend_growth_3y
    right_table << {label: 'Dividend Growth 5Y', value: number_to_percentage(@stock.dividend_growth_5y, precision: 2)} if @stock.dividend_growth_5y
    right_table << {label: 'Years of Dividend Growth', value: @stock.dividend_growth_years} if @stock.dividend_growth_years
  end
  right_table << {label: 'Dividend Change', value: number_to_percentage(@stock.div_change_pct, precision: 1), danger: @stock.div_change_pct < 0} if @stock.div_change_pct
  right_table << {label: 'Dividend Safety', value: "#{number_with_precision(@stock.dividend_rating, precision: 1)} (#{safety_human(@stock.dividend_rating)})"} if @stock.dividend_rating
  right_table << {label: 'Payout', value: number_to_percentage(@stock.payout_ratio, precision: 2)} unless @stock.payout_ratio.to_f.zero?
%>

<table class="table table-sm stock-summary-table d-none d-lg-table">
  <% [left_table.size, right_table.size].max.to_i.times do |index| %>
  <tr>
    <td>
      <% row = left_table[index] %>
      <% if row %>
        <%= row[:label] %>: <strong class="float-right <%= 'text-danger' if row[:danger] %>"><%= row[:value] %></strong>
        <% if row[:help] %>
          <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="<%= row[:help] %>"></i>
        <% end %>
      <% end %>
    </td>
    <td></td>
    <td>
      <% row = right_table[index] %>
      <% if row %>
        <%= row[:label] %>: <strong class="float-right <%= 'text-danger' if row[:danger] %>"><%= row[:value] %></strong>
        <% if row[:help] %>
          <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="<%= row[:help] %>"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% combined_table = left_table + right_table %>
<table class="table table-sm stock-summary-table d-lg-none">
  <% combined_table.size.times do |index| %>
  <tr>
    <td>
      <% row = combined_table[index] %>
      <% if row %>
        <%= row[:label] %>: <strong class="float-right <%= 'text-danger' if row[:danger] %>"><%= row[:value] %></strong>
        <% if row[:help] %>
          <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="<%= row[:help] %>"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
