<div class="row justify-content-center my-form-row">
  <div class="col-12">
    <%= bootstrap_form_for @stock, scope: :stock, url: stock_path(@stock), local: true, html: {class: 'my-form mx-auto'} do |form| %>
      <%= form.text_field :symbol, style: 'text-transform: uppercase;', autocomplete: :off, readonly: true %>

      <div class="form-group">
        <label class="required" for="x_stocks_ar_stock_exchange_id">Exchange</label>
        <div class="form-control-select">
          <%= select_tag('x_stocks_ar_stock[exchange_id]', options_for_select([[]] + @exchanges.map { |e| [ "#{e.name} (#{e.code})", e.id ] }, @stock.exchange_id),
                         class: 'selectpicker', data: {live_search: true, container: 'body'}) %>
        </div>
      </div>

      <div class="my-button-group-centered">
        <%= link_to 'Back', back_url, class: 'btn btn-outline-dark' %>
        <%= form.submit 'Save', class: 'btn btn-primary', onclick: "prepareForm(); runService($(this).parents('form')); return false;" %>
      </div>
    <% end %>
  </div>
</div>
