<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 1px;"></th>
      <th>Symbol</th>
      <th>Company</th>
      <th class="text-right">Price</th>
      <th class="text-right">Change</th>
      <th class="text-right">Change&nbsp;%</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td class="text-center">
          <% if stock.company&.logo.present? %>
            <img src="<%= stock.company.logo %>" alt="<%= stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td>
          <%= link_to stock.symbol, stock_path(stock) %>
        </td>
        <td><%= stock.company&.company_name %></td>
        <td class="text-right">
          <%= number_to_currency(stock.stock_quote.current_price) if stock.stock_quote %>
        </td>
        <% price_change = stock.stock_quote ? number_to_currency(stock.stock_quote.price_change) : nil %>
        <td class="text-right <%= delta_class(price_change) %>">
          <%= delta_number(price_change) %>
        </td>
        <% price_change_pct = stock.stock_quote ? number_to_percentage(stock.stock_quote.price_change_pct, precision: 2) : nil %>
        <td class="text-right <%= delta_class(price_change_pct) %>">
          <%= delta_number(price_change_pct) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<div>
  <%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
</div>
<% end %>
