<table id="data-table" class="table table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="no-sort no-search" style="width: 1px;"></th>
      <th>Symbol</th>
      <th>Company</th>
      <th class="no-search text-right">Price</th>
      <th class="no-search text-right">Change</th>
      <th class="no-search text-right">Change&nbsp;%</th>
      <th class="no-search text-right">Est. Annual Div</th>
      <th class="no-search text-right">Est. Yield %</th>
      <th class="no-search text-right">Beta</th>
      <th class="no-search text-right">Payout %</th>
      <th class="no-search text-right">Yahoo Rec.</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td class="text-center">
          <% if stock.logo.present? %>
            <img src="<%= stock.logo %>" alt="<%= stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% else %>
            <img src="/img/no-logo.png" alt="<%= stock.symbol %> Logo" style="max-height: 24px; max-width: 48px;"/>
          <% end %>
        </td>
        <td>
          <%= link_to stock.symbol, stock_path(stock) %>
        </td>
        <td><%= stock.company_name %></td>
        <td class="text-right">
          <%= number_to_currency(stock.current_price) %>
        </td>
        <% price_change = number_to_currency(stock.price_change) %>
        <td class="text-right <%= delta_class(price_change) %>">
          <%= delta_number(price_change) %>
        </td>
        <% price_change_pct = number_to_percentage(stock.price_change_pct, precision: 2) %>
        <td class="text-right <%= delta_class(price_change_pct) %>">
          <%= delta_number(price_change_pct) %>
        </td>
        <td class="text-right">
          <%= number_to_currency(stock.est_annual_dividend) %>
        </td>
        <td class="text-right">
          <%= number_to_percentage(stock.est_annual_dividend / stock.current_price * 100, precision: 2) rescue nil %>
        </td>
        <td class="text-right">
          <%= number_with_precision(stock.beta, precision: 2) %>
        </td>
        <td class="text-right">
          <%= number_to_percentage(stock.payout_ratio, precision: 2) if stock.payout_ratio && !stock.payout_ratio.zero? %>
        </td>
        <td class="text-right" data-sort="<%= number_with_precision(stock.yahoo_recommendation, precision: 2) %>">
          <% if stock.yahoo_recommendation %>
            <small><%= yahoo_rec_human(stock.yahoo_recommendation) %></small> <%= number_with_precision(stock.yahoo_recommendation, precision: 2) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<div>
  <%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
</div>
<% end %>

<script>
  document.addEventListener("turbolinks:load", () => {
    if (!$.fn.dataTable.isDataTable("#data-table")) {
      $("#data-table").dataTable({order: [1, 'asc']});
    }
  })

  function refresh_page() {
    window.location.reload();
  }
</script>
