<%= render partial: 'shared/column', locals: {columns: @columns} %>

<% if @tag %>
<p><span class="badge badge-pill badge-primary"><%= @tag %></span></p>
<% end %>

<table id="stocks-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-left border-right">Symbol</th>
      <% @columns.each do |column| %>
        <th class="<%= 'no-search' unless column[:searchable] %> text-<%= column[:align] || 'right' %> text-nowrap"><%= column[:label] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<% if user_signed_in? %>
<div>
  <%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
</div>
<% end %>

<script>
  document.addEventListener('turbolinks:load', () => {

    const data = <%= @data.to_json.html_safe %>;
    const formats = [
      Formats.symbol,         // Symbol
      Formats.text,           // Company
      Formats.currency,       // Price
      Formats.currencyDelta,  // Change
      Formats.percentDelta2,  // Change %
      Formats.percentDelta0,  // Fair Value
      Formats.currencyOrWarn, // Est. Annual Div.
      Formats.percentOrWarn2, // Est. Yield %
      Formats.percentDelta1,  // Div. Change %
      Formats.number2,        // P/E Ratio
      Formats.percent2,       // Payout %
      Formats.recommendation, // Yahoo Rec.
      Formats.recommendation, // Finnhub Rec.
      Formats.safety,         // Div. Safety
      Formats.date,           // Ex. Date
      Formats.metaScore,      // Score
    ]

    unpackData('#stocks-table', data, formats);
    dataTable('#stocks-table', {order: [0, 'asc']}, <%= default_columns %>);
  })

  function refresh_page() {
    window.location.reload();
  }
</script>
