<%= render partial: 'shared/column', locals: {columns: @columns} %>

<% if @tag %>
  <span class="float-left badge badge-pill badge-primary" style="margin-top: 6px;"><%= @tag %>
    <a href="/stocks" class="badge badge-pill badge-dark" style="color: #fff;"><i class="fas fa-times"></i></a>
  </span>
<% end %>

<table id="stocks-table" class="table table-sm table-hover table-override">
  <thead class="thead-light">
    <tr>
      <th class="text-center border-right">Symbol</th>
      <% @columns.each do |column| %>
        <th class="<%= 'no-search' unless column[:searchable] %> text-<%= column[:align] || 'right' %> text-nowrap"><%= column[:label] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<% if user_signed_in? %>
<div>
  <%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
</div>
<% end %>

<% content_for :head do %>
<script>
  const future_ex_date = new Date('<%= XStocks::Stock::Dividends.future_ex_date %>T00:00:00');
  document.addEventListener('turbolinks:load', () => {
    const data = <%= @data.to_json.html_safe %>;
    const formats = [
      Formats.symbol,         // Symbol
      Formats.text,           // Company
      Formats.flag,           // Country
      Formats.currency,       // Price
      Formats.currencyDelta,  // Change
      Formats.percentDelta2,  // Change %
      Formats.range,          // 52 Week Range
      Formats.percentDelta0,  // Fair Value
      Formats.direction,      // Short Term
      Formats.direction,      // Mid Term
      Formats.direction,      // Long Term
      Formats.frequency,      // Div. Frequency
      Formats.currencyOrWarn, // Est. Annual Div.
      Formats.percentOrWarn2, // Est. Yield %
      Formats.percentDelta1,  // Div. Change %
      Formats.number2,        // P/E Ratio
      Formats.percent2,       // Payout %
      Formats.bigMoney,       // Market Cap.,
      Formats.recommendation, // Yahoo Rec.
      Formats.recommendation, // Finnhub Rec.
      Formats.safetyAlt,      // Div. Safety
      Formats.dateFuture,     // Ex. Date
      Formats.metaScore,      // Score
    ]

    unpackData('#stocks-table', data, formats);
    $('[data-toggle="tooltip"]').tooltip();
    dataTable('#stocks-table', {order: [0, 'asc']}, <%= default_columns %>);
  })
</script>
<% end %>
