<div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="uppercase mb-3 font-normal"><%= @page_title %></h2>

  <%= form_for @stock, url: processing_stock_path(@stock), html: { class: 'my-form' } do |form| %>
    <div class="mb-4">
      <%= form.label :symbol, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :symbol, disabled: true, class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline uppercase bg-gray-200' %>
    </div>

    <div class="pb-3 flex items-center justify-between">
      <%= link_to back_url, class: 'btn btn-outline-dark disabled' do %>
        Back
      <% end %>
      <button class="btn2 btn2-primary" disabled="disabled" name="save_and_show">Save & Show</button>
      <button class="btn2 btn2-secondary" disabled="disabled" name="save_only">Save</button>
    </div>
  <% end %>

  <%= render partial: 'shared/service_runner' %>
</div>

<script>
    function redirectToNewStock() {
        window.location.replace('/stocks/new');
    }

    function redirectToTheStock() {
    const symbol = $('#x_stocks_ar_stock_symbol').val().trim().toUpperCase();
    window.location.replace(`/stocks/${FormatMethods.safeLink(symbol)}?save_and_show=`);
  }

  function onServiceRunSuccess() {
    <%= params[:save_and_show] ? 'redirectToTheStock();' : 'redirectToNewStock();' %>
  }

  function onServiceRunFailed() {
    const control = $('#service-runner');
    control.delay(3000).slideUp();
    setTimeout(redirectToStock, 3500);
  }

  runService($('.my-form'));
</script>
