<%= turbo_frame_tag :new_stock do %>
  <div class="flex flex-col space-y-4">
  <div class="section section-form"
       data-controller="service"
       data-action="turbo:frame-load@window->service#run"
       data-service-output-container-value="output-container"
       data-service-output-progress-value="output-progress"
       data-service-output-message-value="output-message">
    <h2><%= @page_title %></h2>

    <%= form_for @stock, url: processing_stock_path(@stock), data: { service_target: 'form' } do |form| %>
      <div class="mb-4">
        <%= form.label :symbol, class: 'block text-gray-700 font-bold mb-2' %>
        <%= form.text_field :symbol, disabled: true, class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline uppercase bg-gray-200' %>
      </div>

      <div class="pb-3 flex items-center justify-between">
        <%= link_to back_url do %>
          <%= inline_svg('svg/arrow-left.svg', size: '24*24', class: 'inline-block') %> Back
        <% end %>
        <button class="btn btn-primary" disabled="disabled">Save</button>
      </div>
    <% end %>
  </div>

  <%= render partial: 'shared/service_runner', locals: { class: 'section-form', can_stop: false } %>
  </div>
<% end %>
