<div class="w-full flex flex-col xl:flex-row space-x-0 xl:space-x-4">
  <div class="w-full xl:w-2/3 mb-4">
    <div class="section">
      <% if params[:save_and_show] %>
        <%= render partial: 'new_button' %>
      <% else %>
        <%= render partial: 'update_button' %>
      <% end %>

      <div class="flex">
        <div>
          <% if @stock.logo_url.present? %>
            <img src="<%= @stock.logo_url %>" alt="<%= @stock.symbol %>" class="mr-2 mt-1 max-h-9" />
          <% end %>
        </div>
        <div>
          <h2><%= @page_title %></h2>
        </div>
      </div>

      <%= render partial: 'stocks/widgets/tradingview_chart' %>
      <%= render partial: 'stocks/widgets/summary' %>
      <%= render partial: 'stocks/widgets/dividends' %>
      <%= render partial: 'stocks/widgets/tags' %>
      <%= render partial: 'stocks/widgets/about_company' %>

      <div>
        <%= link_to edit_stock_path(@stock.symbol), class: 'btn btn-icon btn-secondary-outline mr-1' do %>
          <%= inline_svg('svg/square-edit-outline', size: '24*24', class: 'inline-block') %>
        <% end %>
        <% if @stock.destroyable? %>
          <%= button_to stock_path(@stock.symbol), method: :delete, class: 'btn btn-icon btn-danger-outline', data: { confirm: "Are you sure you want to delete #{@stock}?" }, form: { style: 'display: inline-block;' } do %>
            <%= inline_svg('svg/trash-can-outline', size: '24*24', class: 'inline-block') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="w-full xl:w-1/3 space-y-4">
    <%= render partial: 'stocks/widgets/my_position' %>
    <%= render partial: 'stocks/widgets/next_dividend' %>
    <%= render partial: 'stocks/widgets/next_earnings' %>
    <%= render partial: 'stocks/widgets/links' %>
    <%= render partial: 'stocks/widgets/recommendations', locals: { label: 'Recommendation <small class="text-gray-500">Finnhub</small>'.html_safe, details: @stock.finnhub_rec_details, mean: @stock.finnhub_rec } %>
    <%= render partial: 'stocks/widgets/recommendations', locals: { label: 'Recommendation <small class="text-gray-500">Yahoo</small>'.html_safe, details: @stock.yahoo_rec_details, mean: @stock.yahoo_rec } %>
    <%= render partial: 'stocks/widgets/price_target', locals: { label: 'Price Targets <small class="text-gray-500">Yahoo</small>'.html_safe, details: @stock.yahoo_price_target } %>
    <%= render partial: 'stocks/widgets/earnings', locals: { label: 'Earnings <small class="text-gray-500">Yahoo</small>'.html_safe } %>
    <%= render partial: 'stocks/widgets/financials', locals: { label: 'Financials <small class="text-gray-500">Yearly</small>'.html_safe, details: @stock.financials_yearly } %>
    <%= render partial: 'stocks/widgets/financials', locals: { label: 'Financials <small class="text-gray-500">Quarterly</small>'.html_safe, details: @stock.financials_quarterly } %>
    <%= render partial: 'stocks/widgets/tradingview_tech' %>
  </div>
</div>
