<% company = @stock.company %>
<% if company %>
  <img src="<%= company.logo %>" alt="<%= @stock.symbol %> Logo"/>
  <p>
  <% company.tags.each do |tag| %>
    <span class="badge badge-pill badge-secondary"><%= tag %></span>
  <% end %>
  </p>

  <h3>About</h3>
  <p>
    <%= company.description %>
  </p>
  <p>
    <strong>Exchange:</strong>
    <%= company.exchange %>
  </p>
  <p>
    <strong>CEO:</strong>
    <%= company.ceo %>
  </p>
  <p>
    <strong>Headquarters:</strong>
    <%= "#{company.country}, #{company.state}" %>
  </p>
  <p>
    <strong>Employees:</strong>
    <%= number_with_delimiter(company.employees, delimiter: ',') %>
  </p>
  <p>
    <strong>Website:</strong>
    <%= link_to_website company.website %>
  </p>
<% else %>
  <p>
    <strong>Symbol:</strong>
    <%= @stock.symbol %>
  </p>
<% end %>

<p>
  <strong>Peers:</strong>
<% @stock.company_peers.each do |peer| %>
  <% next if peer.peer_stock_id == @stock.id %>
  <% if peer.peer_stock_id %>
      <%= link_to peer.peer_symbol, "/stocks/#{peer.peer_symbol}", class: 'badge badge-pill badge-info' %>
  <% else %>
    <span class="badge badge-pill badge-secondary"><%= peer.peer_symbol %></span>
  <% end %>
<% end %>
</p>

<div>
  <%= link_to 'Back', stocks_path, class: 'btn btn-link' %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-primary' %>
  <%= link_to 'Delete', stock_path(@stock), method: :delete, class: 'btn btn-danger', onclick: 'return confirm("Are you sure?");' %>
<% end %>
</div>

<!--div>
  <%= link_to 'Test', "/stocks/#{@stock.symbol}/test", class: 'btn btn-link' %>
</div-->
