<% content_for :page_title do %>
  <%= render partial: 'update' %>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center">
    <% if @stock.logo_url.present? %>
      <img src="<%= @stock.logo_url %>" alt="" style="max-height: 40px; max-width: 80px; margin-right: 10px; margin-top: -5px;"/>
    <% end %>
    <h1 class="bd-title"><%= @page_title %></h1>
  </header>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'tradingview_chart' %>
    <%= render partial: 'summary' %>
    <%= render partial: 'dividends' %>

    <div class="d-none d-md-block">
      <%= render partial: 'about_company' %>
      <%= render partial: 'tags' %>
    </div>
  </div>

  <div class="col-md-4">
    <%= render partial: 'my_position' %>
    <%= render partial: 'next_dividend' %>
    <%= render partial: 'next_earnings' %>
    <%= render partial: 'links' %>
    <%= render partial: 'rec_details', locals: { id: 'finnhub_rec', label: 'Recommendation <small>Finnhub</small>'.html_safe, mean: @stock.finnhub_rec, details: @stock.finnhub_rec_details } %>
    <%= render partial: 'rec_details', locals: { id: 'yahoo_rec', label: 'Recommendation <small>Yahoo</small>'.html_safe, mean: @stock.yahoo_rec, details: @stock.yahoo_rec_details } %>
    <%= render partial: 'price_target', locals: { id: 'yahoo_price_target', label: 'Price Targets <small>Yahoo</small>'.html_safe, target_price: @stock.yahoo_price_target } %>
    <%= render partial: 'earnings' %>
    <%= render partial: 'financials', locals: { label: 'Financials <small>Yearly</small>'.html_safe, type: 'yearly', data: @stock.financials_yearly } %>
    <%= render partial: 'financials', locals: { label: 'Financials <small>Quarterly</small>'.html_safe, type: 'quarterly', data: @stock.financials_quarterly } %>
    <%= render partial: 'tradingview_tech' %>

    <div class="d-block d-md-none">
      <%= render partial: 'about_company' %>
      <%= render partial: 'tags' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= link_to 'Back', back_url, class: 'btn btn-link' %>
    <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-primary' %>
    <% if @stock.destroyable? %>
      <%= link_to 'Delete', stock_path(@stock), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete #{@stock}?"} %>
    <% end %>
  </div>
</div>
