<% etf = @stock.issue_type == 'et' -%>
<div class="w-full flex flex-col space-x-0 space-y-4
            lg:flex-row lg:space-x-4 lg:space-y-0 lg:space-x-4 <%= '2xl:space-x-8' unless etf %>">
  <div class="w-full
              lg:w-2/3
              <%= etf ? '2xl:w-4/5' : '2xl:w-3/5' %>">
    <div class="section">
      <%= render partial: 'update_button' %>
      <h2><%= @page_title %></h2>

      <%= render partial: 'stocks/widgets/tradingview_chart' %>
      <%= render partial: 'stocks/widgets/summary' %>
      <%= render partial: 'stocks/dividends/less' %>
      <%= render partial: 'stocks/widgets/tags' %>
      <%= render partial: 'stocks/widgets/about_company' %>

      <div>
        <%= link_to edit_stock_path(@stock.symbol), class: 'btn btn-icon btn-secondary-outline mr-1', target: '_top' do %>
          <%= inline_svg('svg/square-edit-outline', size: '24*24') %>
        <% end %>
        <% if @stock.destroyable? %>
          <%= link_to stocks_confirmation_path(@stock.symbol), class: 'btn btn-icon btn-danger-outline', data: { turbo_frame: 'delete_stock' } do %>
            <%= inline_svg('svg/trash-can-outline', size: '24*24') %>
          <% end %>
          <%= turbo_frame_tag 'delete_stock' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-x-0 space-y-4
              md:flex-row md:space-x-4 md:space-y-0
              lg:flex-col lg:w-1/3 lg:space-x-0 lg:space-y-4
              2xl:flex-row-reverse 2xl:space-x-4 2xl:space-y-0 2xl:space-x-reverse <%= etf ? '2xl:w-1/5' : '2xl:w-2/5' %>">
    <div class="shrink-0 space-y-4 <%= etf ? 'w-full' : 'md:w-1/2 lg:w-full 2xl:w-1/2' %>">
      <%= render partial: 'stocks/widgets/position' %>
      <%= render partial: 'stocks/widgets/links' %>
      <%= render partial: 'stocks/widgets/next_dividend' %>
      <%= render partial: 'stocks/widgets/next_earnings' %>
      <%= render partial: 'stocks/widgets/tradingview_tech' %>
    </div>
    <% unless etf %>
      <div class="shrink-0 space-y-4 md:w-1/2 lg:w-full 2xl:w-1/2">
        <%= render partial: 'stocks/widgets/recommendations', locals: { provider: 'Finnhub', details: @stock.finnhub_rec_details, mean: @stock.finnhub_rec } %>
        <%= render partial: 'stocks/widgets/recommendations', locals: { provider: 'Yahoo', details: @stock.yahoo_rec_details, mean: @stock.yahoo_rec } %>
        <%= render partial: 'stocks/widgets/price_target', locals: { provider: 'Yahoo', details: @stock.yahoo_price_target } %>
        <%= render partial: 'stocks/widgets/earnings', locals: { provider: 'Yahoo' } %>
        <%= render partial: 'stocks/widgets/financials', locals: { provider: t('stocks.financials.yearly'), details: @stock.financials_yearly } %>
        <%= render partial: 'stocks/widgets/financials', locals: { provider: t('stocks.financials.quarterly'), details: @stock.financials_quarterly } %>
        <%= render partial: 'stocks/widgets/buybacks' %>
      </div>
    <% end %>
  </div>
</div>
