  <% if @stock.logo.present? %>
    <img src="<%= @stock.logo %>" alt="<%= @stock.symbol %> Logo"/>
  <% end %>
  <p>
  <% @stock.tags.by_key(:company_tag).each do |tag| %>
    <span class="badge badge-pill badge-secondary"><%= tag %></span>
  <% end %>
  </p>

  <h3>About</h3>
  <p>
    <%= @stock.description %>
  </p>
  <p>
    <strong>Exchange:</strong>
    <%= @stock.exchange %>
  </p>
  <p>
    <strong>CEO:</strong>
    <%= @stock.ceo %>
  </p>
  <p>
    <strong>Headquarters:</strong>
    <%= "#{@stock.country}, #{@stock.state}" %>
  </p>
  <p>
    <strong>Employees:</strong>
    <%= number_with_delimiter(@stock.employees, delimiter: ',') %>
  </p>
  <p>
    <strong>Website:</strong>
    <%= link_to_website @stock.website %>
  </p>

<p>
  <strong>Peers:</strong>
<% stock_peers.each do |stock_peer| %>
  <% if stock_peer[:stock] %>
      <%= link_to stock_peer[:symbol], stock_path(stock_peer[:stock]), class: 'badge badge-pill badge-info' %>
  <% else %>
    <span class="badge badge-pill badge-secondary"><%= stock_peer[:symbol] %></span>
  <% end %>
<% end %>
</p>

  <div class="col-sm-4">
    <%= render partial: 'links' %>
  </div>

<div>
  <%= link_to 'Back', back_url, class: 'btn btn-link' %>
  <% if @stock.destroyable? %>
    <%= link_to 'Delete', stock_path(@stock), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete #{@stock.to_s}?"} %>
  <% end %>
</div>
