<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="radio" id="format-table-radio" name="representation" autocomplete="off" onclick='switch_representation_to_table("<%= table %>", "<%= chart %>");'>
    <%= inline_svg('svg/table', size: '18*18', class: 'inline-block mb-1') %><span class="d-none d-md-inline"> Table</span>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" id="format-excel-radio" name="representation" autocomplete="off" onclick='switch_representation_to_excel("<%= table %>", "<%= chart %>", "#format-table-radio", "#format-charts-radio")'>
    <%= inline_svg('svg/file-excel', size: '18*18', class: 'inline-block mb-1') %><span class="d-none d-md-inline"> Excel</span>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" id="format-charts-radio" name="representation" autocomplete="off" onclick='switch_representation_to_charts("<%= table %>", "<%= chart %>");'>
    <%= inline_svg('svg/pie-chart', size: '18*18', class: 'inline-block mb-1') %><span class="d-none d-md-inline"> Charts</span>
  </label>
</div>
<script>
    document.addEventListener("turbo:load", () => {
        init_representation("<%= table %>", "<%= chart %>", "#format-table-radio", "#format-charts-radio");
    });
</script>
