<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h3>My Portfolio</h3>
  <table class="table table-sm" style="margin-bottom: 7px;">
    <tbody>
    <% day_change = Position.day_change(current_user) %>
    <% if day_change %>
      <tr>
        <td style="border-top: none;">
          Market Value:
          <strong class="float-right"><%= number_to_currency(day_change[:market_value]) %></strong>
        </td>
      </tr>
      <tr>
        <td>
          Today's Change:
          <strong class="float-right <%= delta_class(day_change[:price_change]) %>"><%= number_to_currency(day_change[:price_change]) %> (<%= number_to_percentage(day_change[:price_change_pct], precision: 2) %>)</strong>
        </td>
      </tr>
    <% end %>
    <% est_ann_income = Position.est_ann_income(current_user) %>
    <% if est_ann_income %>
      <tr>
        <td>
          Annual Dividend:
          <strong class="float-right"><%= number_to_currency(est_ann_income) %></strong>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>