<div class="w-full flex flex-col xl:flex-row space-x-0 xl:space-x-4 space-y-4 xl:space-y-0">
  <div class="w-full xl:w-2/5 space-y-4">
    <%= render partial: 'home/widgets/fear_n_greed' %>
    <%= render partial: 'home/widgets/market' %>
  </div>
  <div class="w-full xl:w-1/5 space-y-4">
    <%= render partial: 'home/widgets/div_hikes_n_cuts' %>
  </div>
  <div class="w-full xl:w-1/5 space-y-4">
    <%= render partial: 'home/widgets/portfolio' %>
    <%= render partial: 'home/widgets/top_movers', locals: { title: t('home.sections.top_gainers'), where: 'price_change_pct > 0', order: 'desc' } %>
    <%= render partial: 'home/widgets/top_movers', locals: { title: t('home.sections.top_losers'), where: 'price_change_pct < 0', order: 'asc' } %>
  </div>
  <div class="w-full xl:w-1/5 space-y-4">
    <%= render partial: 'home/widgets/links' %>
    <%= render partial: 'home/widgets/screeners' %>
  </div>
</div>
