<div class="w-full mx-auto">

<div class="flex flex-col xl:flex-row space-x-0 xl:space-x-4">
  <div class="w-full xl:w-1/3">
    <%= render partial: 'fear_n_greed' %>
    <div class="d-none d-md-block">
      <%= render partial: 'div_hikes_n_cuts' %>
    </div>
  </div>
  <div class="w-full xl:w-1/6">
    <%= render partial: 'portfolio' %>
    <%= render partial: 'top_movers', locals: { title: 'Top Gainers', where: 'price_change_pct > 0', order: 'desc' } %>
    <%= render partial: 'top_movers', locals: { title: 'Top Losers', where: 'price_change_pct < 0', order: 'asc' } %>
  </div>
  <div class="w-full xl:w-1/3">
    <%= render partial: 'market' %>
  </div>
  <div class="w-full xl:w-1/6">
    <%= render partial: 'links' %>
    <%= render partial: 'screeners' %>
  </div>
</div>

</div>
