<% if @stock.attributes.values_at(*%w[country website employees industry description]).compact_blank.present? %>
  <div class="mb-6">
    <h3><%= t('stocks.sections.company_profile') %></h3>

    <p class="company-profile mb-3">
      <% if @stock.country.present? %>
        <strong><%= t('stocks.company_profile.headquarters') %>:</strong> <%= country_flag_img_tag(@stock.country, size: 24, class: 'inline-block mb-1') %> <%= [CountryName.new.name(@stock.country), @stock.state].select(&:present?).join(', ') %><br>
      <% end %>
      <% if @stock.website.present? %>
        <strong><%= t('stocks.company_profile.website') %>:</strong> <%= link_to_website @stock.website %><br>
      <% end %>
      <% if @stock.employees.present? %>
        <strong><%= t('stocks.company_profile.employees') %>:</strong> <%= number_with_delimiter(@stock.employees, delimiter: ',') %><br>
      <% end %>
      <% if @stock.industry.present? %>
        <strong><%= t('stocks.company_profile.industry') %>:</strong> <%= @stock.industry %><br>
      <% end %>
      <strong><%= t('stocks.company_profile.issue_type') %>:</strong> <%= @stock.issue_type_name %>
    </p>
    <% if @stock.description.present? %>
      <p class="text-sm">
        <%= @stock.description %>
      </p>
    <% end %>
  </div>
<% end %>
