<% div = ::Dividend.new %>
<% est = div.estimate(@stock) %>
<% if est %>
  <h3 class="text-2xl uppercase mb-2"><%= t('stocks.sections.dividends') %> <small class="text-gray-500"><%= est.size > 6 ? t('stocks.dividends.6m_estimate') : t('stocks.dividends.1y_estimate') %></small></h3>

  <% est = est[0..5] %>
  <table class="section-table hidden lg:table mb-6">
    <tbody>
    <tr>
      <th class="text-left" style="width: 8%"><%= t('stocks.dividends.month') %></th>
      <% est.each do |month_est| %>
        <% month = month_est[:month] %>
        <th class="text-right" style="width: 8%"><%= month.strftime("%b'%y") %></th>
      <% end %>
    </tr>
    <tr>
      <td><%= t('stocks.dividends.amount') %></td>
      <% est.each do |month_est| %>
        <% amount = month_est[:amount] %>
        <td class="text-right"><%= number_to_currency(amount, precision: dividend_precision(amount)) %></td>
      <% end %>
    </tr>
    <tr>
      <td text="text-nowrap"><%= t('stocks.dividends.ex_date') %></td>
      <% est.each do |month_est| %>
        <% ex_date = month_est[:ex_date] %>
        <td class="text-right text-nowrap"><%= ex_date.strftime("%b, %d") if ex_date %></td>
      <% end %>
    </tr>
    <tr>
      <td class="text-nowrap"><%= t('stocks.dividends.payment_data') %></td>
      <% est.each do |month_est| %>
        <% payment_date = month_est[:payment_date] %>
        <td class="text-right text-nowrap"><%= payment_date.strftime("%b, %d") if payment_date %></td>
      <% end %>
    </tr>
    </tbody>
  </table>

  <table class="section-table table lg:hidden mb-6">
    <tbody>
      <tr>
        <th class="w-1/4 text-left"><%= t('stocks.dividends.month') %></th>
        <th class="w-1/4 text-right"><%= t('stocks.dividends.amount') %></th>
        <th class="w-1/4 text-right"><%= t('stocks.dividends.ex_date') %></th>
        <th class="w-1/4 text-right"><%= t('stocks.dividends.payment_data') %></th>
      </tr>
      <% div.months.each_with_index do |month| %>
      <% months_est = est.detect { |e| e[:month] == month } %>
      <% amount = months_est&.dig(:amount) %>
      <% if amount %>
        <tr>
          <td class="text-left"><%= month.strftime("%b'%y") %></td>
          <td class="text-right"><%= number_to_currency(amount, precision: dividend_precision(amount)) %></td>
          <td class="text-right"><%= months_est&.dig(:ex_date).strftime("%b, %d") if months_est&.dig(:ex_date) %></td>
          <td class="text-right"><%= months_est&.dig(:payment_date).strftime("%b, %d") if months_est&.dig(:payment_date) %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
