<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <% next_div_ex_date = @stock.next_div_ex_date if @stock.next_div_ex_date && @stock.next_div_ex_date >= Date.today %>
  <% if next_div_ex_date %>
    <h4>Next Dividend</h4>

    <div class="text-center my-block">
      <span class="jcountdown" data-target="<%= (next_div_ex_date + 6.hours) %>"></span>
    </div>

    <%
      next_div_amount = @stock.next_div_amount
      estimate = false
      unless next_div_amount.positive?
        value = ::Dividend.new.estimate(@stock)&.first&.dig(:amount)
        if value.positive?
          next_div_amount = value
          estimate = true
        end
      end
    %>
    <table class="table table-sm my-side-panel" style="margin-bottom: 7px;">
      <tbody>
        <% if next_div_amount.positive? %>
        <tr>
          <td>
            <%= 'Est. ' if estimate %>Amount:
            <strong class="float-right"><%= number_to_currency(next_div_amount, precision: dividend_precision(next_div_amount)) %></strong>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <% div_change_pct = @stock.div_change_pct %>
            Change:
            <strong class="float-right <%= delta_class(div_change_pct) %>"><%= change_icon(div_change_pct) %> <%= number_to_percentage(div_change_pct, precision: 1) %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Ex Date:
            <strong class="float-right"><%= next_div_ex_date.strftime('%b, %d %Y') %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Payment Date:
            <strong class="float-right"><%= @stock.next_div_payment_date&.strftime('%b, %d %Y') %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
