<% next_div_ex_date = @stock.next_div_ex_date if @stock.next_div_ex_date && @stock.next_div_ex_date >= Date.today && @stock.next_dividend %>
<% if next_div_ex_date %>
<div class="section">
  <h3><%= t('stocks.sections.next_dividend') %> <small class="text-gray-500"><%= @stock.next_dividend.regular? ? XStocks::Dividends::Frequency.humanize(@stock.next_dividend.frequency) : t("dividends.dividend_types.#{@stock.next_dividend.dividend_type}") %></small></h3>

  <%= render(CountdownComponent.new(datetime: next_div_ex_date + 6.hours)) %>
  <%
    next_div_amount = @stock.next_div_amount
    estimate = false
    unless next_div_amount.positive?
      value = ::Dividend.new.estimate(@stock)&.first&.dig(:amount)
      if value.positive?
        next_div_amount = value
        estimate = true
      end
    end
  %>
  <table class="section-table">
    <% if next_div_amount.positive? %>
    <tr>
      <td>
        <%= estimate ? t('stocks.next_dividend.est_amount') : t('stocks.next_dividend.amount') %>:
        <strong><%= number_to_currency(next_div_amount, precision: dividend_precision(next_div_amount)) %></strong>
      </td>
    </tr>
    <% end %>
    <% if @stock.next_dividend.regular? %>
    <tr>
      <td>
        <%= t('stocks.next_dividend.change') %>:
        <% div_change_pct = @stock.div_change_pct %>
        <strong class="<%= delta_class(div_change_pct) %>"><%= change_icon(div_change_pct) %> <%= number_to_percentage(div_change_pct, precision: 1) %></strong>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        <%= t('stocks.next_dividend.ex_dividend_date') %>:
        <strong><%= next_div_ex_date.strftime('%b, %d %Y') %></strong>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('stocks.next_dividend.pay_date') %>:
        <strong><%= @stock.next_div_payment_date&.strftime('%b, %d %Y') %></strong>
      </td>
    </tr>
  </table>
</div>
<% end %>
