<% next_earnings_date = @stock.next_earnings_date if @stock.next_earnings_date && @stock.next_earnings_date >= Date.today %>
<% if next_earnings_date %>
  <div class="section">
    <h3><%= t('stocks.sections.next_earnings') %></h3>

    <table class="section-table">
      <tr>
        <td>
          <%= t('stocks.next_earnings.estimated_eps') %>:
          <strong><%= number_to_currency(@stock.next_earnings_est_eps, precision: dividend_precision(@stock.next_earnings_est_eps)) %></strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('stocks.next_earnings.date') %>:
          <strong><%= next_earnings_date.strftime('%b, %d %Y') %></strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('stocks.next_earnings.time') %>:
          <strong><%= humanize_earnings_hour(@stock.next_earnings_hour) %></strong>
        </td>
      </tr>
    </table>
  </div>
<% end %>
