<div class="mb-6">
  <h3>Related Tags</h3>

  <%= render partial: 'stocks/widgets/taxes' %>

  <% [:company_tag, :dividend_tag, :safe_dividend_tag, :dividend_growth_tag].each do |key| %>
    <% @stock.tags.by_key(key).each do |tag| %>
      <%= link_to tag.name, url_for({controller: 'stocks', action: 'index', tag: tag.name}), class: 'tag tag-blue' %>
    <% end %>
  <% end %><br>

  <% VirtualTag.all.select { |tag| tag.eligible?(@position) }.each do |tag| %>
    <%= link_to url_for({ controller: 'stocks', action: 'index', tag: tag.name }), class: 'tag tag-blue' do %>
      <%= inline_svg(tag.svg_image, size: '16*16') %> <%= tag.name %>
    <% end %>
  <% end %><br>

  <% peers = stock_peers %>
  <% if peers.present? %>
    <% peers.each do |stock_peer| %>
      <% if stock_peer[:stock] %>
        <%= link_to stock_peer[:symbol], stock_path(stock_peer[:stock].symbol), class: 'tag tag-blue' %>
      <% else %>
        <span class="tag tag-gray"><%= stock_peer[:symbol] %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
