<a href="https://finance.yahoo.com/chart/<%= @stock.symbol %>?technical=<%= link %>" class="btn btn-light d-flex flex-row w-100" style="padding-right: 4px;"
   data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="
  <%=
    "<div class='text-nowrap w-50'>#{
      [
        "#{details['stateDescription']}",
        "<strong><span>Stock:</span> #{up_down_tag(details['direction'])} #{details['score']}</strong> - #{details['scoreDescription']}",
        "<strong><span>Sector:</span> #{up_down_tag(details['sectorDirection'])} #{details['sectorScore']}</strong> - #{details['sectorScoreDescription']}",
        "<strong><span>Index:</span> #{up_down_tag(details['indexScore'])} #{details['indexScore']}</strong> - #{details['indexScoreDescription']}"
      ].join('<br>')
    }</div>".gsub('"', "'").html_safe
  %>">
  <div class="flex-fill text-left" data-placement="right" style="line-height: 1.2;">
    <%= title %><br>
    <small class="text-muted"><%= term %></small>
  </div>
  <div class="flex-right" style="padding-top: 4px;">
    <%= up_down_tag(direction, css_class: 'fa-2x') %>
  </div>
</a>
