<div class="section section-form section-form-right">
  <h2><%= t('account.pages.account') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('activerecord.attributes.user.email'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t('devise.registrations.edit.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></p>
    <% end %>

    <div class="mb-4">
      <%= f.label :password, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      <p class="text-gray-600 text-xs mt-1 mb-0"><%= t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it') %></p>
      <% if @minimum_password_length %>
        <p class="text-gray-600 text-xs mt-1 mb-0"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password_confirmation'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-4">
      <%= f.label :current_password, class: 'block text-gray-700 font-bold mb-2' %>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: t('activerecord.attributes.user.current_password'), class: 'shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      <p class="text-gray-600 text-xs mt-1 mb-0"><%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes') %></p>
    </div>

    <div>
      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <% if XStocks.protected_sign_up? %>
    <div class="mt-4">
      <%= link_to t('devise.registrations.new.sign_up'), new_registration_path(resource_name), class: 'text-blue-500' %>
    </div>
  <% end %>
</div>
