<div class="section section-form section-form-left">
  <h2><%= t('account.pages.estimated_taxes') %></h2>

  <%= form_for(resource, as: resource_name, url: users_taxes_path, html: { method: :post }) do |f| %>
    <% [:ordinary_divs, :qualified_divs].each do |tax_code| %>
      <% tax_url = XStocks::Stock::TAXES[tax_code].first %>
      <% tax_value = resource.taxes&.dig(tax_code.to_s) %>
      <% tax_error = resource.errors.detect { |error| error.attribute == :taxes && error.options[:value] == tax_value }&.message %>
      <div class="field mb-4">
        <%= label_tag "user[taxes][#{tax_code}]", class: class_names('block text-gray-700 font-bold mb-2', field_with_errors: tax_error) do %>
          <%= t("taxes.#{tax_code}") %> <%= link_to inline_svg('svg/help-circle-outline', size: '16*16', class: 'mb-1').html_safe, tax_url, class: 'text-gray-400 hover:text-blue-600 no-underline', target: '_blank' if tax_url %>
        <% end %>
        <%= content_tag(:div, class: class_names('relative flex w-full text-gray-800', field_with_errors: tax_error)) do %>
          <%= text_field_tag "user[taxes][#{tax_code}]", tax_value, class: 'rounded-l w-full border-gray-400', placeholder: t("taxes.#{tax_code}") %>
          <div class="pt-2 border border-l-0 px-2 rounded-none rounded-r bg-gray-200 border-gray-400">%</div>
        <% end %>
        <% if tax_error %>
          <div class="field_with_errors"><label class="error-message" for="x_stocks_ar_stock_symbol"><%= tax_error %></label></div>
        <% end %>
      </div>
      <% end %>
    <div>
      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
