<% height = 330 -%>
<div class="section">
  <a href="https://twitter.com/dividendhike">
    <h3><%= inline_svg('svg/twitter', size: '24*24', class: 'inline-block mb-1', style: 'color: #1DA1F2') %> <%= t('home.sections.dividend_hikes') %></h3>
  </a>
  <div style="min-height: <%= height %>px;">
    <a class="twitter-timeline"
       data-lang="en" data-width="100%" data-height="<%= height %>" data-dnt="true" data-theme="light" data-chrome="noheader nofooter noscrollbar transparent"
       href="https://twitter.com/dividendhike">
    </a>
  </div>
</div>
<div class="section">
  <a href="https://twitter.com/dividendcut">
    <h3><%= inline_svg('svg/twitter', size: '24*24', class: 'inline-block mb-1', style: 'color: #1DA1F2') %> <%= t('home.sections.dividend_cuts') %></h3>
  </a>

  <div style="min-height: <%= height %>px;">
    <a class="twitter-timeline"
       data-lang="en" data-width="100%" data-height="<%= height %>" data-dnt="true" data-theme="light" data-chrome="noheader nofooter noscrollbar transparent"
       href="https://twitter.com/dividendcut">
    </a>
  </div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
