<div class="section">
  <h3><%= t('home.sections.screeners') %></h3>

  <nav>
    <ul class="m-0">
      <% VirtualTag.all.each do |tag| %>
        <li>
          <% url = {controller: 'stocks', action: 'index', tag: tag.name} %>
          <% url.merge!({order: tag.sort_order}) if tag.sort_order.present? %>
          <a class="block h-10 hover:no-underline py-2 show-tooltip" href="<%= url_for(url) %>">
            <div class="tooltip top whitespace-nowrap"><%= tag.description %></div>
            <span class="text-blue-500"><%= inline_svg(tag.svg_image, size: '24*24', class: 'inline-block') %> <%= tag.name %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
