<div class="section pb-4">
  <h3><%= t('home.sections.screeners') %></h3>

  <nav>
    <ul class="my-0" style="margin-left: -8px; margin-right: -8px;">
      <% VirtualTag.all.each do |tag| %>
        <li>
          <% url = {controller: 'stocks', action: 'index', tag: tag.name} %>
          <% url.merge!({order: tag.sort_order}) if tag.sort_order.present? %>
          <a class="block h-8 hover:no-underline py-1 show-tooltip hover:bg-blue-50 px-2" href="<%= url_for(url) %>">
            <!--div class="tooltip tooltip-top whitespace-nowrap"><%= tag.description %></div-->
            <span class="text-blue-500"><%= inline_svg(tag.svg_image, size: '20*20') %> <%= tag.name %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
