<div class="section">
  <%= link_to 'See All', "/stocks?order=5-#{order}", class: 'float-right mt-1 text-blue-500' %>
  <h3><%= title %></h3>

  <% stocks = XStocks::AR::Stock.unscoped.where(where).order(price_change_pct: order).limit(7).all %>
  <table class="summary-table">
    <tbody>
    <% stocks.each do |stock| %>
      <tr>
        <td>
          <%= link_to stock.symbol, stock_path(stock.symbol), class: 'text-blue-500' %>
          <strong>
            <%= number_to_currency(stock.current_price) %>
            <span class="text-xs font-normal <%= delta_class(stock.price_change) %>">
              <%= number_to_currency(stock.price_change) %> (<%= number_to_percentage(stock.price_change_pct, precision: 2) %>)
            </span>
          </strong>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
