<!doctype html>
<html lang="en" class="<%= class_names('relative', 'min-h-full', 'no-js',
                                       'rails-dev' => Rails.env.development?) %>">
  <head>
    <title><%= @page_title %> | xStocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-cache-control" content="no-cache">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'favicon/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon/favicon-16x16.png' %>">
    <link rel="icon" type="image/svg+xml" href="<%= asset_path 'favicon/favicon.svg' %>">

    <%= stylesheet_link_tag 'application', media: 'all', data: { turbo_track: 'reload' } %>
    <%= javascript_importmap_tags %>

    <%= content_for(:head) if content_for?(:head) %>
  </head>

  <body class="bg-gray-200 mb-12">
    <%= render partial: 'layouts/menu' %>

    <main class="w-full min-h-full flex-1 relative pt-0 md:pt-4 pl-0 md:pl-4 pr-0 md:pr-4 pb-1">
      <% if flash[:notice] %>
        <div class="alert alert-notice">
          <%= inline_svg('svg/bell', size: '24*24') %>
          <span role="alert"><%= flash[:notice] %></span>
          <!--button><span>×</span></button-->
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= inline_svg('svg/bell', size: '24*24') %>
          <span role="alert"><%= flash[:error] %></span>
          <!--button><span>×</span></button-->
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="absolute bottom-0 h-12 w-full flex justify-between text-gray-400 whitespace-nowrap">
      <div class="w-1/4"></div>
      <div class="w-1/2 text-center">&copy; 2020-<%= Date.today.year %> <a href="https://www.linkedin.com/in/andrew-kushnir/" class="text-gray-400 hover:text-gray-600">Andrew Kushnir</a></div>
      <div class="w-1/4 text-right"><%= render partial: '/services/run' %></div>
    </footer>
  </body>
</html>
