<!doctype html>
<html lang="en">
  <head>
    <title><%= @page_title %> | xStocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'favicon/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon/favicon-16x16.png' %>">
    <link rel="icon" type="image/svg+xml" href="<%= asset_path 'favicon/favicon.svg' %>">

    <%= stylesheet_link_tag 'application', media: 'all', data: { turbo_track: 'reload' } %>
    <%= javascript_importmap_tags %>

    <%= content_for(:head) if content_for?(:head) %>
  </head>

  <body>
    <%= render partial: 'layouts/top_menu_bar' %>

  <% if content_for?(:page_title) %>
    <%= content_for(:page_title) %>
  <% else %>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center">
      <h1 class="bd-title"><%= @page_title %></h1>
    </header>
  <% end %>

    <div class="container-fluid" style="padding-bottom: 15px;">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="row text-nowrap">
          <div class="col">
            <span class="text-muted">xStocks &copy; 2020-<%= Date.today.year %> Andrew K.</span>
          </div>
          <div class="col">
            <%= render partial: '/services/run' if current_user %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
