<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> | xStocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  </head>

  <body>
    <%= render partial: 'layouts/top_menu_bar' %>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center">
      <h1 class="bd-title"><%= @page_title %></h1>
    </header>

    <div class="container-fluid" style="padding-bottom: 15px;">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <span class="text-muted">xStocks &copy; <%= Date.today.year %> Andrew K.</span>
          </div>
          <%= render partial: '/data/refresh' %>
        </div>
      </div>
    </footer>
  </body>
</html>
