<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'mailer' %>
  </head>
  <body class="bg-gray-200">
    <div class="top-menu max-w-md pl-8 pr-8 pt-2 pb-2 mb-4 mx-auto shadow-md rounded-b">
      <a href="<%= root_url %>" class="top-menu-brand">
        <%= inline_svg('favicon/favicon', size: '30*30', class: 'mb-1 inline-block align-middle') %>
        <span class="inline-block">xStocks</span>
      </a>
      <span class="float-right pt-1 text-gray-300">Stock Data Aggregator</span>
    </div>
    <div class="bg-white max-w-md pl-8 pr-8 pt-6 pb-6 mb-4 mx-auto shadow-md rounded">
      <h3><%= message.subject %></h3>
      <%= yield %>
    </div>
    <div class="max-w-md pl-8 pr-8 mx-auto mb-4 text-center text-gray-400 footer">
      &copy; 2020-<%= Date.today.year %> <a href="https://www.linkedin.com/in/andrew-kushnir/">Andrew Kushnir</a>
    </div>
  </body>
</html>
